<div id="blog_roll">
      <h1>News &amp; Events</h1>
        <div id="blog_scroll"> 
     <div class="event">
       <h3><a href="#">Veterans Day 2012</a></h3>
       <p>
	Coffee and donuts from 8:30am- 10:30am to remember and respect all of our service men and women. <a href="/blogs/veterans_day_2012">Click here for more information.</a></p>

       <span class="link"><a href="#">read more...</a></span>
     </div>
     <div class="event">
       <h3><a href="#">Third Annual Historic Cemetery Tour 2012 </a></h3>
       <p>
	We will be celebrating our Third Annual Historic Cemetery Tour on Saturday Nov. 10th at &nbsp;10:30am. Click here for more info!</p>

       <span class="link"><a href="#">read more...</a></span>
     </div>
     <div class="event">
       <h3><a href="#">Save the Date: Veteran's Day Open House TBD</a></h3>
       
       <span class="link"><a href="#">read more...</a></span>
     </div>
     <div class="event">
       <h3><a href="#">Save the Date: Christmas Remembrance Celebration</a></h3>
       
       <span class="link"><a href="#">read more...</a></span>
     </div>
     <div class="event">
       <h3><a href="#">Interesting Story: The Union Soldier</a></h3>
       
       <span class="link"><a href="#  ">read more...</a></span>
     </div>
     </div>
    </div>