<div class="one_third category">
      <h1>Blog Categories</h1>
      <ul>
        <li>Events
            <ul>
            </ul>
        </li>
        <li>Park Updates
            <ul>
              <li> <a href="/blogs/first">Master Plan Implementation</a></li>
              <li> <a href="/blogs/first">Merry Christmas!!!!</a></li>
              <li> <a href="/blogs/first">Take a Look.....</a></li>
            </ul>
        </li>
        <li>News 
            <ul>
              <li> <a href="/blogs/first">Ivy Lawn now offers Eternal Memorial Accounts</a></li>
              <li> <a href="/blogs/first">Burial Options and Products</a></li>
            </ul>
        </li>
      </ul>

      <div id="popular">
          <h2>Popular Post</h2>
           <ul>
                <li><a href="/blogs/eternal-memorial-accounts">Ivy Lawn now offers Eternal Memorial Accounts</a></li>
                <li><a href="/blogs/building_restoration">Take a Look.....</a></li>
           </ul>
      </div>
    </div>
    <div class="two_thirds blogs">
      <h1>News &amp; Events</h1>
      <ul>
            <li>
              <a href="/blogs/first">Merry Christmas!!!!</a>
              <p>
    	Christmas decorations can be set as of December 8th. They will be removed after January 1st holiday.</p>

               <span class="blog_more"><a href="/blogs/first">read more....</a></span>
              <hr>
            </li>
            <li>
              <a href="/blogs/first">Take a Look.....</a>
              <p>
    	The chapel and mausoleums and buildings have been restored.&nbsp;Thank you to everyone for your cooperation during the work time.&nbsp;We hope you enjoy and appreciate the splendor of these historic buildings.</p>

               <span class="blog_more"><a href="/blogs/first">read more....</a></span>
              <hr>
            </li>
            <li>
              <a href="/blogs/first">Ivy Lawn now offers Eternal Memorial Accounts</a>
              <p>
    	<img alt="Eternal Memorial Accounts" class="img-right" src="http://cms.allplaces.net/ivylawn/images/ema-img_thumb.jpg" width="100px"> NEW technology at Ivy Lawn! Preserve the memories of your loved one on line. Ivy Lawn is excited to offer Eternal Memorial Accounts. This gives future generations the experience of not only visiting a grave but also seeing the memories of their families with photos, videos, letters and personal stories created.</p>

               <span class="blog_more"><a href="/blogs/eternal-memorial-accounts">read more....</a></span>
              <hr>
            </li>
            <li>
              <a href="/blogs/ivy_lawn_Master_plan_implementation">Master Plan Implementation</a>
              <p>
    	A Sneak Peak at the new construction beginning at Ivy Lawn.</p>

               <span class="blog_more"><a href="/blogs/ivy_lawn_Master_plan_implementation">read more....</a></span>
              <hr>
            </li>
            <li>
              <a href="/blogs/burial-options-and-products">Burial Options and Products</a>
              <p>
    	<strong>BEAUTIFUL, TIMELESS…AND STILL AVAILABLE...</strong>We are committed to providing elegant, tranquil and environmentally sensitive interment space now and well into the future. Current burial sites include features like woodland locations and scenic gardens, and accommodate a wide range of memorial styles and interment options.</p>

               <span class="blog_more"><a href="/blogs/burial-options-and-products">read more....</a></span>
              <hr>
            </li>
            <li>
              <a href="/blogs/historic-district-cemetery">Ivy Lawn has been designated a historic district cemetery by the City of Ventura. </a>
              Ivy Lawn is the only historic cemetery in Ventura County and the first cemetery to receive the historic district  cemetery  designation.
               <span class="blog_more"><a href="/blogs/historic-district-cemetery">read more....</a></span>
              <hr>
            </li>
            <li>
              <a href="/blogs/master-plan">Ivy Lawn Memorial Park is updating its “Master Plan”.</a>
              As we celebrate our past, we welcome the future!  Stay tuned for a full perspective of new ideas and proposals that include a new Veteran’s Memorial, plans for new development and improvement to the grounds of Ivy Lawn.
               <span class="blog_more"><a href="/blogs/master-plan">read more....</a></span>
              <hr>
            </li>
            <li>
              <a href="/blogs/scattering-gardens">New Scattering Gardens are under development at Ivy Lawn.</a>
              It will provide an outdoor sanctuary that will accommodate families as well as solitary reflection.  This outside garden area will create a peaceful setting in nature and will offer comfort to which to remember a loved one.
               <span class="blog_more"><a href="/blogs/scattering-gardens">read more....</a></span>
              <hr>
            </li>
      </ul>
    </div>