<div id="content">
	  		<!--FLASH-->
	  		<div id="main_column">
  <div id="top_section">
    <div id="cover_photo">
      <img alt="Large_cropped_5dac8a61-8c0b-42a3-939b-999194bb29ea" src="http://c190930.r30.cf1.rackcdn.com/uploads/record/gravepic/187378/large_cropped_5DAC8A61-8C0B-42A3-939B-999194BB29EA.jpg">
    </div>
    <div style="clear:both"></div>
    <div id="cover_header">
      <div id="profile_photo">
        <a href="http://c190930.r30.cf1.rackcdn.com/uploads/photo/assetpic/131/large_220px-Albert_Einstein__Nobel_.png" rel="lightbox" title="Dan Quibble by tspore" class="cboxElement"><img alt="Small_220px-albert_einstein__nobel_" src="http://c190930.r30.cf1.rackcdn.com/uploads/photo/assetpic/131/small_220px-Albert_Einstein__Nobel_.png"></a>
      </div>

      <div id="personal_info">
        <div id="record_name">DAN  QUIBBLE  </div>
        <div id="record_lifespan">
          3/11/1970
          ~
          1/5/2012
        </div>


      </div>


    </div>
  </div>

  <div style="clear:both"></div>

  <hr>

    <div id="new_thing_section">
      <div id="upload_box">
        <!-- file uploads-->
        <!--PHOTO-->
         <h3>Upload</h3>

   
  <div class="two_third_one_third" id="gallery_upload2">
    <h4>Photo</h4>
  </div>
  <!--VIDEO-->
  <div class="two_third_one_third" id="video_upload2">
    <h4>Video</h4>
  </div>
  <!--TEXT-->
  <div class="two_third_one_third" id="article_create2">
    <h4>Text</h4>
  </div>
  <span class="clear">&nbsp;</span>
  <p>
    When you create a user account on Tombfinder.com you can contribute photos, videos, comments, and update additional information about this record. Tomb Finder is 100% free to users that simply register or contribute to this site. At Tomb Finder we believe that the details about the lives of our lost loved ones is priceless, and would like to encourage you to share your stories for the generations to come.
</p>
<p>
    <a href="/users/sign_in">Login or Register</a>
</p>
<p>
      To maintain a sustainable online entity we only charge for the enhancements of the burial records at Tomb Finder, these enhancements may be purchased along with the burial plot purchase.
    
  </p>
   
    

        <!--PHOTO-->
        <div id="gallery_form" style="display: none;">
          <hr>
          <form accept-charset="UTF-8" action="/records/187378/photos" class="simple_form new_photo" enctype="multipart/form-data" id="new_photo" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="+OIbUAPCkz/w0gvcz2iRuTHiiFk0nFmIic6UdmGvHO8="></div>
    <div class="input file required"><label class="file required" for="photo_assetpic"><abbr title="required">*</abbr> Photo</label><input class="file required" id="photo_assetpic" name="photo[assetpic]" required="required" type="file"></div>
	<input id="photo_assetpic_cache" name="photo[assetpic_cache]" type="hidden">
	<label for="photo_remote_assetpic">Or Image URL</label>
	  <input id="photo_remote_assetpic_url" name="photo[remote_assetpic_url]" size="30" type="text">
	<div class="input string optional"><label class="string optional" for="photo_asset_caption">Caption</label><input class="string optional" id="photo_asset_caption" maxlength="255" name="photo[asset_caption]" size="50" type="text"></div>
	<input class="button" label="Upload" name="commit" type="submit" value="Create Photo">	
</form>
        </div>
        <!--VIDEO-->
        <div id="video_form" style="display: none;">
          <hr>
          <form accept-charset="UTF-8" action="/records/187378/videos" class="new_video" id="new_video" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="+OIbUAPCkz/w0gvcz2iRuTHiiFk0nFmIic6UdmGvHO8="></div>
  <input id="video_record_id" name="video[record_id]" type="hidden" value="187378">
  <input id="video_user_id" name="video[user_id]" type="hidden">
  <p>
    <label>Video</label>
    <input type="hidden" name="video[panda_video_id]" id="returned_video_id"><input type="file">
  </p>
  <p>
    <label for="video_title">Caption</label>
    <input id="video_title" name="video[title]" size="30" type="text">
  </p>
  <p>
    </p><div id="upload_progress" class="panda_upload_progress" style="display: none; width: 250px; height: 26px; border: 1px solid rgb(12, 60, 126); background-image: url(http://demolawn.tombfinder.com/panda_uploader/progress_bg.gif); background-attachment: scroll; background-position: 0% 0%; background-repeat: repeat repeat;"></div>
  <p></p>
  <p class="button">
    <input name="commit" type="submit" value="Upload video" disabled="disabled">
    <input type="button" value="Cancel" class="cancel">
  </p>
</form><script>
  jQuery("#returned_video_id").pandaUploader({"cloud_id":"13417ca8ebb120e693b19e462a2daa1e","access_key":"4652fb053134f36184e6","timestamp":"2012-12-19T05:35:18.943121Z","signature":"mfIaHW9QLSUAQK85MjdZuKyZT6Ee7MywAe8lAczqcdQ="}, {
    upload_progress_id: 'upload_progress'
  });
</script>
        </div>
        <!--TEXT-->
        <div id="article_form" style="display: none;">
          <a href="#" id="Comment_toggle">Add A Comment</a>
          <a href="#" id="funneral_toggle">Add Funeral Info</a>
            <a href="/records/187378/life_stories/24/edit">Edit Life Story</a>
        </div>
        <div id="comment" style="display: none;">
          <form accept-charset="UTF-8" action="/records/187378/copies" class="simple_form new_copy" id="new_copy" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="+OIbUAPCkz/w0gvcz2iRuTHiiFk0nFmIic6UdmGvHO8="></div>
		  <div class="input string optional"><label class="string optional" for="copy_name">Title</label><input class="string optional" id="copy_name" maxlength="255" name="copy[name]" size="50" type="text"></div>
		  <div class="input text optional"><label class="text optional" for="copy_content">Content</label><textarea class="text optional" cols="40" id="copy_content" name="copy[content]" rows="20"></textarea></div>
		  <input class="button" name="commit" type="submit" value="Create Copy">
</form> 

        </div>
        <div id="biography" style="display: none;">
          <form accept-charset="UTF-8" action="/records/187378/biographies" class="simple_form new_biography" id="new_biography" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="+OIbUAPCkz/w0gvcz2iRuTHiiFk0nFmIic6UdmGvHO8="></div>
   <div class="input string optional"><label class="string optional" for="biography_occupation">Occupation</label><input class="string optional" id="biography_occupation" maxlength="255" name="biography[occupation]" size="50" type="text"></div>
   <div class="input string optional"><label class="string optional" for="biography_children">Children</label><input class="string optional" id="biography_children" maxlength="255" name="biography[children]" size="50" type="text"></div>
   <div class="input string optional"><label class="string optional" for="biography_parents">Parents</label><input class="string optional" id="biography_parents" maxlength="255" name="biography[parents]" size="50" type="text"></div>
   <div class="input string optional"><label class="string optional" for="biography_hobbies">Hobbies</label><input class="string optional" id="biography_hobbies" maxlength="255" name="biography[hobbies]" size="50" type="text"></div>
   <div class="input string optional"><label class="string optional" for="biography_spouse">Spouse</label><input class="string optional" id="biography_spouse" maxlength="255" name="biography[spouse]" size="50" type="text"></div>
   <div class="input string optional"><label class="string optional" for="biography_accomplishments">Accomplishments</label><input class="string optional" id="biography_accomplishments" maxlength="255" name="biography[accomplishments]" size="50" type="text"></div>
   <div class="input string optional"><label class="string optional" for="biography_birth_place">Birth place</label><input class="string optional" id="biography_birth_place" maxlength="255" name="biography[birth_place]" size="50" type="text"></div>
   <div class="input string optional"><label class="string optional" for="biography_resided_in">Resided in</label><input class="string optional" id="biography_resided_in" maxlength="255" name="biography[resided_in]" size="50" type="text"></div>
   <input class="button" name="commit" type="submit" value="Create Biography">
</form>
        </div>
        <div id="funneral" style="display: none;">
          <form accept-charset="UTF-8" action="/records/187378/funerals" class="simple_form new_funeral" id="new_funeral" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="+OIbUAPCkz/w0gvcz2iRuTHiiFk0nFmIic6UdmGvHO8="></div>

 <div class="input datetime optional"><label class="datetime optional" for="funeral_service_time_1i">Service time</label><select class="datetime optional" id="funeral_service_time_1i" name="funeral[service_time(1i)]">
<option value="2007">2007</option>
<option value="2008">2008</option>
<option value="2009">2009</option>
<option value="2010">2010</option>
<option value="2011">2011</option>
<option selected="selected" value="2012">2012</option>
<option value="2013">2013</option>
<option value="2014">2014</option>
<option value="2015">2015</option>
<option value="2016">2016</option>
<option value="2017">2017</option>
</select>
<select class="datetime optional" id="funeral_service_time_2i" name="funeral[service_time(2i)]">
<option value="1">January</option>
<option value="2">February</option>
<option value="3">March</option>
<option value="4">April</option>
<option value="5">May</option>
<option value="6">June</option>
<option value="7">July</option>
<option value="8">August</option>
<option value="9">September</option>
<option value="10">October</option>
<option value="11">November</option>
<option selected="selected" value="12">December</option>
</select>
<select class="datetime optional" id="funeral_service_time_3i" name="funeral[service_time(3i)]">
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option selected="selected" value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
<option value="24">24</option>
<option value="25">25</option>
<option value="26">26</option>
<option value="27">27</option>
<option value="28">28</option>
<option value="29">29</option>
<option value="30">30</option>
<option value="31">31</option>
</select>
 — <select class="datetime optional" id="funeral_service_time_4i" name="funeral[service_time(4i)]">
<option value="00">00</option>
<option value="01">01</option>
<option value="02">02</option>
<option value="03">03</option>
<option value="04">04</option>
<option selected="selected" value="05">05</option>
<option value="06">06</option>
<option value="07">07</option>
<option value="08">08</option>
<option value="09">09</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
</select>
 : <select class="datetime optional" id="funeral_service_time_5i" name="funeral[service_time(5i)]">
<option value="00">00</option>
<option value="01">01</option>
<option value="02">02</option>
<option value="03">03</option>
<option value="04">04</option>
<option value="05">05</option>
<option value="06">06</option>
<option value="07">07</option>
<option value="08">08</option>
<option value="09">09</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
<option value="24">24</option>
<option value="25">25</option>
<option value="26">26</option>
<option value="27">27</option>
<option value="28">28</option>
<option value="29">29</option>
<option value="30">30</option>
<option value="31">31</option>
<option value="32">32</option>
<option value="33">33</option>
<option value="34">34</option>
<option selected="selected" value="35">35</option>
<option value="36">36</option>
<option value="37">37</option>
<option value="38">38</option>
<option value="39">39</option>
<option value="40">40</option>
<option value="41">41</option>
<option value="42">42</option>
<option value="43">43</option>
<option value="44">44</option>
<option value="45">45</option>
<option value="46">46</option>
<option value="47">47</option>
<option value="48">48</option>
<option value="49">49</option>
<option value="50">50</option>
<option value="51">51</option>
<option value="52">52</option>
<option value="53">53</option>
<option value="54">54</option>
<option value="55">55</option>
<option value="56">56</option>
<option value="57">57</option>
<option value="58">58</option>
<option value="59">59</option>
</select>
</div>
 <div class="input string optional"><label class="string optional" for="funeral_service_location">Service location</label><input class="string optional" id="funeral_service_location" maxlength="255" name="funeral[service_location]" size="50" type="text"></div>
 <div class="input string optional"><label class="string optional" for="funeral_service_address">Service address</label><input class="string optional" id="funeral_service_address" maxlength="255" name="funeral[service_address]" size="50" type="text"></div>
 <div class="input string optional"><label class="string optional" for="funeral_service_city">Service city</label><input class="string optional" id="funeral_service_city" maxlength="255" name="funeral[service_city]" size="50" type="text"></div>
 <div class="input string optional"><label class="string optional" for="funeral_service_state">Service state</label><input class="string optional" id="funeral_service_state" maxlength="255" name="funeral[service_state]" size="50" type="text"></div>
 <div class="input text optional"><label class="text optional" for="funeral_funeral">Funeral Info</label><textarea class="text optional" cols="40" id="funeral_funeral" name="funeral[funeral]" rows="20"></textarea></div>
 <div class="input text optional"><label class="text optional" for="funeral_additional">additional info /obituary</label><textarea class="text optional" cols="40" id="funeral_additional" name="funeral[additional]" rows="20"></textarea></div>
 <input class="button" name="commit" type="submit" value="Create Funeral">
</form>
        </div>
        <div style="clear:both"></div>
      </div>
    </div>

    <div id="activity_section">
      <div id="history">
        <h3>Record History</h3>
        <ul>

              <li class="history"> <span class="change_type">api_creation</span> <span class="change_values">Changes: </span>
                <span class="author">tspore</span>
              </li>

              <li class="history"> <span class="change_type">added_photo</span> <span class="change_values">Changes: photo 131</span>
                <span class="author">tspore</span>
              </li>

              <li class="history"> <span class="change_type">added_bio</span> <span class="change_values">Changes: photo 14</span>
                <span class="author">tspore</span>
              </li>

              <li class="history"> <span class="change_type">added_story</span> <span class="change_values">Changes: photo 24</span>
                <span class="author">tspore</span>
              </li>

              <li class="history"> <span class="change_type">added_manager</span> <span class="change_values">Changes: photo 45</span>
                <span class="author">mgg</span>
              </li>
        </ul>
        <h3></h3>
      </div>

      <ul>
        <li>
          <div class="life_photo"><img alt="Small_albert-einstein" src="http://c190930.r30.cf1.rackcdn.com/uploads/lifestory/storypic/24/small_albert-einstein.jpeg"></div>
              <div class="article">
              <p></p><p>
	Dan prided himself on the fact that he helped create&nbsp;http://www.internationalquidditch.org/ &amp; the fact that Quidditch is now played at over 300 univerities and high schools, as well as in 12 other countries.&nbsp;</p>
<p></p>
              <p style="font-size: 12px; font-style: italic; ">Posted 3 months ago by tspore</p>
              </div>
             <div style="clear:both"></div>
        </li>
          <li>
            <div class="photo">
              <a href="http://c190930.r30.cf1.rackcdn.com/uploads/photo/assetpic/131/large_220px-Albert_Einstein__Nobel_.png" rel="lightbox" title="Dan Quibble by tspore" class="cboxElement"><img alt="Small_220px-albert_einstein__nobel_" src="http://c190930.r30.cf1.rackcdn.com/uploads/photo/assetpic/131/small_220px-Albert_Einstein__Nobel_.png"></a>
              Dan Quibble
            </div>
            <div class="user_info">
              <div class="user_name">
                tspore
              </div>
              <div class="user_action">
                Added a photo
              </div>
            </div>
            <div class="created_at">
              September 28, 2012
            </div>
            <div style="clear:both"></div>
            
          </li>



          <li>
            <h3>Biography</h3>
<ul>
    <li><b>Occupation</b> Captain of Hogwarts All Star Quidditch Team</li>
    <li><b>Parents:</b> Michael and Joan Quibble</li>
    <li><b>Hobbies:</b> Quidditch, Potions, Dueling &amp; Star Gazing</li>
    <li><b>Born in:</b> London, England</li>
    <li><b>Resided in:</b> Ventura, CA</li>
</ul>
          </li>


      </ul>
    </div>
</div>

<div id="right_column">
  <br>
<a target="new" href="http://click.linksynergy.com/fs-bin/click?id=/6dYsH4CJiA&amp;offerid=236433.65&amp;type=4&amp;subid=0"><img alt="When you just don't know what to say... Express your Sympathy with elegance - 290 x 65" border="0" src="http://a1516.g.akamai.net/f/1516/9236/1h/affiliate.1800flowers.com/flowers/graphics/OPM/FES/Banners/Sympathy3_290x65.gif"></a><img border="0" width="1" height="1" src="http://ad.linksynergy.com/fs-bin/show?id=/6dYsH4CJiA&amp;bids=236433.65&amp;type=4&amp;subid=0">
  <br><br>
  <div id="map_container">
    <h3>Map &amp; Directions</h3>
<script src="http://code.google.com/apis/gears/gears_init.js" type="text/javascript" charset="utf-8" async="" defer=""></script>
<script type="text/javascript">
	var map;
	$(document).ready(function(){
		var myOptions = {
			zoom: 0,
			center: new google.maps.LatLng(0, 0),
			disableDefaultUI: true,
			mapTypeId: google.maps.MapTypeId.SATELLITE
		};
		map = new google.maps.Map(document.getElementById("map_canvas"),
		myOptions);
		var bounds = new google.maps.LatLngBounds();
		  var lat = 34.282941;
			var lng = -119.293512;
		var infowindow = new google.maps.InfoWindow({content: ''});
  	var latlng = new google.maps.LatLng(lat,lng);
  	var marker = new google.maps.Marker({
	    position: latlng,
      animation: google.maps.Animation.DROP,
      icon: "/assets/marker.png",
	    map: map,
	    title: "DAN QUIBBLE "
    });
    var accuracy = {
      strokeColor: "#ffbb00",
      strokeOpacity: 0.75,
      strokeWeight: 2,
      fillColor: "#ffbb00",
      fillOpacity: 0.25,
      map: map,
      center: latlng,
      radius: 5 
    };
    graveCircle = new google.maps.Circle(accuracy);
  	google.maps.event.addListener(marker, 'click', function(){
      infowindow.open(map, marker);
    });
	  bounds.extend(latlng);
	  map.fitBounds(bounds);
    /*map.setTilt(45);
    map.setHeading(90);*/

    var maxZoomService = new google.maps.MaxZoomService();
    maxZoomService.getMaxZoomAtLatLng(latlng, function(response) {
      if (response.status == google.maps.MaxZoomStatus.OK) {
        map.setZoom(response.zoom);
        map.setCenter(latlng);
      }
    });
	});
</script>
<div id="map_canvas" style="position: relative; background-color: rgb(229, 227, 223); overflow: hidden; -webkit-transform: translateZ(0);"><div style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0;"><div style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0;"><div style="position: absolute; left: 0px; top: 0px; z-index: 1; cursor: url(http://maps.gstatic.com/mapfiles/openhand_8_8.cur), default; -webkit-transform-origin: 145px 140px; -webkit-transform: matrix(1, 0, 0, 1, 0, 0);"><div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; z-index: 200;"><div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; z-index: 101;"><div style="position: absolute; left: 0px; top: 0px; z-index: 30;"><div style="position: absolute; left: 0px; top: 0px; z-index: 1;"><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: 27px; top: 55px;"><canvas width="256" height="256" style="position: absolute; left: 0px; top: 0px;"></canvas></div><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: -229px; top: 55px;"></div><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: 27px; top: -201px;"></div><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: 27px; top: 311px;"></div><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: 283px; top: 55px;"></div><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: -229px; top: -201px;"></div><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: -229px; top: 311px;"></div><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: 283px; top: -201px;"></div><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: 283px; top: 311px;"></div></div></div></div></div><div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; z-index: 201;"><div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; z-index: 102;"><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div style="position: absolute; left: 0px; top: 0px; z-index: 1;"><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: 27px; top: 55px;"></div><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: -229px; top: 55px;"></div><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: 27px; top: -201px;"></div><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: 27px; top: 311px;"></div><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: 283px; top: 55px;"></div><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: -229px; top: -201px;"></div><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: -229px; top: 311px;"></div><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: 283px; top: -201px;"></div><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: 283px; top: 311px;"></div></div></div></div><div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; z-index: 103;"><div style="position: absolute; left: 0px; top: 0px; z-index: -1;"><div style="position: absolute; left: 0px; top: 0px; z-index: 1;"><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: 27px; top: 55px;"><canvas style="position: absolute; left: 0px; top: 0px; height: 256px; width: 256px;" height="256" width="256"></canvas></div><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: -229px; top: 55px;"></div><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: 27px; top: -201px;"></div><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: 27px; top: 311px;"></div><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: 283px; top: 55px;"></div><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: -229px; top: -201px;"></div><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: -229px; top: 311px;"></div><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: 283px; top: -201px;"></div><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: 283px; top: 311px;"></div></div></div></div></div><div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; z-index: 202;"><div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; z-index: 104;"></div><div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; z-index: 105;"></div><div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; z-index: 106;"><div style="z-index: -202; cursor: pointer; -webkit-transform: translateZ(0); display: none;"><div style="width: 30px; height: 27px; overflow: hidden; position: absolute;"><img style="position: absolute; left: 0px; top: 0px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 90px; height: 27px;" src="http://maps.gstatic.com/mapfiles/undo_poly.png" draggable="false"></div></div></div></div><div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; z-index: 100;"><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div style="position: absolute; left: 0px; top: 0px; z-index: 1;"><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: 27px; top: 55px;"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: -229px; top: 55px;"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: 27px; top: -201px;"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: 27px; top: 311px;"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: 283px; top: 55px;"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: -229px; top: -201px;"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: -229px; top: 311px;"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: 283px; top: -201px;"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: 283px; top: 311px;"></div></div></div></div><div style="position: absolute; z-index: 0; left: 0px; top: 0px;"><div style="overflow: hidden; width: 290px; height: 279px;"><img style="width: 290px; height: 279px;" src="http://maps.googleapis.com/maps/api/js/StaticMapService.GetMapImage?1m2&amp;1i45265893&amp;2i106976457&amp;2e2&amp;3u20&amp;4m2&amp;1u290&amp;2u279&amp;5m3&amp;1e2&amp;2b1&amp;5sen-US&amp;token=103185"></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div style="position: absolute; left: 0px; top: 0px; z-index: 1;"><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: 27px; top: 55px; opacity: 1; -webkit-transition: opacity 200ms ease-out;"><img style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0);" src="http://khm0.googleapis.com/kh?v=123&amp;hl=en-US&amp;x=176820&amp;y=417877&amp;z=20&amp;token=110029" draggable="false"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: -229px; top: 55px; opacity: 1; -webkit-transition: opacity 200ms ease-out;"><img style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0);" src="http://khm1.googleapis.com/kh?v=123&amp;hl=en-US&amp;x=176819&amp;y=417877&amp;z=20&amp;token=118964" draggable="false"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: 27px; top: -201px; opacity: 1; -webkit-transition: opacity 200ms ease-out;"><img style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0);" src="http://khm0.googleapis.com/kh?v=123&amp;hl=en-US&amp;x=176820&amp;y=417876&amp;z=20&amp;token=62873" draggable="false"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: 27px; top: 311px; opacity: 1; -webkit-transition: opacity 200ms ease-out;"><img style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0);" src="http://khm0.googleapis.com/kh?v=123&amp;hl=en-US&amp;x=176820&amp;y=417878&amp;z=20&amp;token=26114" draggable="false"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: 283px; top: 55px; opacity: 1; -webkit-transition: opacity 200ms ease-out;"><img style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0);" src="http://khm1.googleapis.com/kh?v=123&amp;hl=en-US&amp;x=176821&amp;y=417877&amp;z=20&amp;token=38773" draggable="false"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: -229px; top: -201px; opacity: 1; -webkit-transition: opacity 200ms ease-out;"><img style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0);" src="http://khm1.googleapis.com/kh?v=123&amp;hl=en-US&amp;x=176819&amp;y=417876&amp;z=20&amp;token=71808" draggable="false"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: -229px; top: 311px; opacity: 1; -webkit-transition: opacity 200ms ease-out;"><img style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0);" src="http://khm1.googleapis.com/kh?v=123&amp;hl=en-US&amp;x=176819&amp;y=417878&amp;z=20&amp;token=35049" draggable="false"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: 283px; top: -201px; opacity: 1; -webkit-transition: opacity 200ms ease-out;"><img style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0);" src="http://khm1.googleapis.com/kh?v=123&amp;hl=en-US&amp;x=176821&amp;y=417876&amp;z=20&amp;token=122688" draggable="false"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: 283px; top: 311px; opacity: 1; -webkit-transition: opacity 200ms ease-out;"><img style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0);" src="http://khm1.googleapis.com/kh?v=123&amp;hl=en-US&amp;x=176821&amp;y=417878&amp;z=20&amp;token=85929" draggable="false"></div></div></div></div></div><div style="margin: 2px 5px 2px 2px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;"><a style="position: static; overflow: visible; float: none; display: inline;" target="_blank" href="http://maps.google.com/maps?ll=34.282941,-119.293512&amp;z=20&amp;t=k&amp;hl=en-US" title="Click to see this area on Google Maps"><div style="width: 62px; height: 24px; cursor: pointer;"><img style="position: absolute; left: 0px; top: 0px; width: 62px; height: 24px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;" src="http://maps.gstatic.com/mapfiles/google_white.png" draggable="false"></div></a></div><div class="gmnoprint" style="z-index: 1000001; position: absolute; right: 0px; bottom: 0px;"><div style="height: 19px; -webkit-user-select: none; line-height: 19px; padding-right: 2px; padding-left: 50px; background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0.498039) 50px); font-family: Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; background-position: initial initial; background-repeat: initial initial;"><a style="color: rgb(68, 68, 68); text-decoration: underline; cursor: pointer;">Map Data</a><span style="display: none;">Imagery ©2012 , U.S. Geological Survey</span><span style=""> - </span><a style="color: rgb(68, 68, 68); text-decoration: underline; cursor: pointer;" href="http://www.google.com/intl/en-US_US/help/terms_maps.html" target="_blank">Terms of Use</a></div></div><div style="background-color: white; padding: 15px 21px; border: 1px solid rgb(171, 171, 171); font-family: Arial, sans-serif; color: rgb(34, 34, 34); -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; z-index: 10000002; display: none; width: 236px; height: 148px; position: absolute; left: 5px; top: 50px;"><div style="padding: 0px 0px 10px; font-size: 16px;">Map Data</div><div style="font-size: 13px;">Imagery ©2012 , U.S. Geological Survey</div><div style="width: 10px; height: 10px; overflow: hidden; position: absolute; opacity: 0.7; right: 12px; top: 12px; z-index: 10000; cursor: pointer;"><img style="position: absolute; left: -18px; top: -44px; width: 68px; height: 67px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;" src="http://maps.gstatic.com/mapfiles/mv/imgs8.png" draggable="false"></div></div><div class="gmnoscreen" style="position: absolute; right: 0px; bottom: 0px;"><div style="font-family: Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); direction: ltr; text-align: right; background-color: rgb(245, 245, 245);">Imagery ©2012 , U.S. Geological Survey</div></div><div style="display: none; font-size: 10px; height: 17px; background-color: rgb(245, 245, 245); border: 1px solid rgb(220, 220, 220); line-height: 19px; position: absolute; right: 0px; bottom: 0px;" class="gmnoprint"><a target="_new" title="Report errors in the road map or imagery to Google" style="font-family: Arial, sans-serif; font-size: 85%; font-weight: bold; padding: 1px 3px; color: rgb(68, 68, 68); text-decoration: initial; position: relative; bottom: 1px;" href="http://maps.google.com/maps?ll=34.282941,-119.293512&amp;z=20&amp;t=k&amp;hl=en-US&amp;skstate=action:mps_dialog$apiref:1">Report a map error</a></div></div></div>

<div id="print_view" class="tab">
  <a href="/records/187378/walking">Print Friendly View</a>
</div>

<div id="map_tab" class="tab">
  Get Directions
</div>
<div id="map_form" style="display: none;">
  <h4>Get Directions</h4>
  <p>Please provide your cell phone number to receive directions via SMS (text) message.</p>
    <form action="187378/directions" method="get" accept-charset="utf-8">
      <p>
        <label for="sms">Phone Number</label>
        <input type="text" name="sms" value="" id="sms"></p>
      <p>
        Windows mobile phone?
        <input type="checkbox" name="windows">
      </p>
      <p>
        <input type="submit" value="Send">
        <a href="javascript:void();" id="map_close">Cancel</a>
      </p>
    </form>
  </div>

    <div style="clear:both"></div>
  </div>


  <div id="manager_container">

       <h3>Manage</h3>
     <p>Become this records manager! Managing this record will enable you to make record changes and moderate photos, videos, and comments.</p>
 		<p><a href="/users/sign_in">Login or Register</a></p>
     <h4>Managers</h4>
     <ul>
         <li>mgg</li>
     </ul>
   <hr>
 


        <div id="marker">
          <a href="#" rel="marker" id="marker" class="cboxElement">Marker issues/Questions?</a>
          <div style="display: none;">
<div id="marker_hidden_form">

  <h2>Grave Marker Issues</h2>
  <p>Please use this form to contact the cemetery about grave marker issues.</p>
  <form accept-charset="UTF-8" action="/contacts" class="new_contact" id="new_contact" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="+OIbUAPCkz/w0gvcz2iRuTHiiFk0nFmIic6UdmGvHO8="></div>
  You are interested in  <select id="contact_reason" name="contact[reason]"><option value="">Please select an option</option>
<option value="Purchasing a new/replacement marker">Purchasing a new/replacement marker</option>
<option value="Having this marker cleaned">Having this marker cleaned</option>
<option value="Having the marker repaired">Having the marker repaired</option>
<option value="Having a new photo taken">Having a new photo taken</option></select>  for the grave of DAN QUIBBLE .


      <div class="contact_form name">
        <label for="contact_name">Name</label>
        <input id="contact_name" name="contact[name]" size="30" type="text">
      </div>
      <div class="contact_form phone">
        <label for="contact_phone">Phone</label>
        <input id="contact_phone" name="contact[phone]" size="30" type="text">
      </div>
      <div class="contact_form email">
        <label for="contact_email">Email</label>
            <input id="contact_email" name="contact[email]" size="30" type="text">


      </div>
      <div class="contact_form body">
        <label for="contact_body">Message</label>
        <textarea cols="25" id="contact_body" name="contact[body]" rows="10"></textarea>
      </div>

      <div class="contact_form human">
        <span class="humanizer">Human Verification Question:</span>
        <label for="contact_humanizer_answer">What is fifteen divided by three?</label>
        <input id="contact_humanizer_answer" name="contact[humanizer_answer]" size="30" type="text">
        <input id="contact_humanizer_question_id" name="contact[humanizer_question_id]" type="hidden" value="16">

      </div>
      <div class="contact_form submit">

            <input id="contact_url" name="contact[url]" type="hidden" value="/records/187378">

        <input name="commit" type="submit" value="Send">
      </div>
</form>  <p>
  If you have additional questions please feel free to contact demo Lawn at , between the hours of . </p>
</div>
</div>
        </div>
        <hr>

    <div id="follow_button">
          <p><a href="/users/sign_in">Follow this burial for updates</a></p>
        <hr>
    </div>


    <a href="#" onclick="SnapABug.setWidgetId('853f347e-bf7c-4786-b02f-1cd70eb7760f');return SnapABug.startLink();">Error or Omission? </a> Please feel free to drop us a note, or create a free account for help contribute to your loved ones history.
  </div>
</div>

<div style="clear:both"></div>

<div class="two_third">
</div>

<script type="text/javascript">
  document.write(unescape("%3Cscript src='" + ((document.location.protocol=="https:")?"https://snapabug.appspot.com":"http://www.snapengage.com") + "/snapabug.js' type='text/javascript'%3E%3C/script%3E"));
</script><script src="http://www.snapengage.com/snapabug.js" type="text/javascript"></script>
<script type="text/javascript">
  SnapABug.setButton("http://photos.allplaces.net/Other/tombfinder/i-8pcXdT3/0/O/help.png");
  // SnapABug.setButtonEffect('-35px');
  SnapABug.addButton("853f347e-bf7c-4786-b02f-1cd70eb7760f","0","100%");
</script><style type="text/css">body .SnapABug_Button{cursor:pointer;cursor:hand;overflow:hidden;position:fixed;_position:absolute;display:block;top:100%;_top:expression(eval(document.body.scrollTop)+724);left:0px;z-index:2147000000;margin:0;padding:0;border-collapse:collapse;border-spacing:0;border:none;outline:none;font-size:0px;line-height:0px;} @media print{body .SnapABug_Button{display:none;}}</style><div class="SnapABug_Button" onclick="SnapABug.startLink();"><img id="SnapABug_bImg" style="position: relative; left: 0px;" src="http://photos.allplaces.net/Other/tombfinder/i-8pcXdT3/0/O/help.png" alt="" border="0" onmouseover="SnapABug.buttonOver();" onmouseout="SnapABug.buttonOut();"></div><div id="SnapABug_W" style="position:fixed;_position:absolute;display:none;top:0%;_top:expression(eval(document.body.scrollTop));left:0px;width:100%;height:100%;text-align:left;z-index:2147483644;margin:0;padding:0;border-collapse:collapse;border-spacing:0;border:none;list-style:none;text-align:left;font-size:100%;font-weight:normal;outline:none;background-image:url('http://chtatic.appspot.com/wbg/blank.gif');background-repeat:repeat;"><div id="SnapABug_O" style="position:absolute;width:100%;height:100%;top:0px;left:0px;background-color:white;text-align:left;z-index:auto;-moz-opacity:0.5;opacity:.50;filter:alpha(opacity=50);"></div></div><div id="SnapABug_WP" style="position:fixed;_position:absolute;display:none;z-index:2147483645;overflow:hidden;margin:0;padding:0;border-collapse:collapse;border-spacing:0;border:none;list-style:none;outline:none;"><div id="SnapABug_P" style="position:absolute;left:0px;top:0px;margin:0;padding:0;border:none;text-align:left;z-index:1;overflow:hidden;background-color:transparent;"></div><div id="SnapABug_IP" style="position:absolute;left:0px;top:0px;z-index:0;"></div><div id="SnapABug_DB" style="position:absolute;left:0px;top:0px;margin:0;border:0;padding:0;z-index:1;cursor:move;background-image:url('http://chtatic.appspot.com/wbg/blank.gif');background-repeat:repeat;"></div><div id="SnapABug_Snd" style="width:0px;height:0px;font-size:0px;margin:0;padding:0;background-color:transparent;"></div></div><div id="SnapABug_Applet" style="position:fixed;_position:absolute;display:none;top:0%;_top:expression(eval(document.body.scrollTop));left:0px;width:100%;height:2px;text-align:left;z-index:2147483646;"></div>


	  	</div>