<div class="sub-copy">
<div class="one">
  <h2>Burials of Note</h2>
  <ul class="featured">
      <li>
        <img align="right" alt="Small_large_andrus_0" hspace="10" src="http://c190930.r30.cf1.rackcdn.com/uploads/lifestory/storypic/18/small_large_andrus_0.jpeg" vspace="10">
        <p>
	&nbsp;</p>
<p class="p1">
	<span class="s1"><i>Ethel Percy Andrus </i></span><span class="s2">(9/21/1884-7/13/1967)(GM-3-202) N/B</span></p>
<p class="p1">
	<span class="s2">She was the founder of the National Retired Teachers Association (NTRA) and the American Association of Retired Persons (AARP). The Ethel Andrus Gerontology Center is named after her at USC, and is the oldest and largest existing professional school of Gerontology, devoted exclusively to the study of aging. Andrus’ many accomplishments include being a faculty member at Chicago’s Lewis Institute, a predecessor of Illinois Institute of Technology and the first woman high school principal in the state of California. She also established The Gables, an assisted living facility in Ojai, California. Her inspiration was ignited in the 1940s by her discovery of the plight of retired teachers struggling to survive on meager pensions. She was inducted into the National Women’s Hall of Fame in 1993.</span></p>
<p class="p1">
	<span style="color:#ff0000;">SOURCE: IVY LAWN STAFF</span></p>
 <a href="/records/151772">Read more...</a>
        <span class="clear">&nbsp;</span>
        <hr>
      </li>
      <li>
        <img align="right" alt="Small_large_hobson" hspace="10" src="http://c190930.r30.cf1.rackcdn.com/uploads/lifestory/storypic/22/small_large_Hobson.jpg" vspace="10">
        <p>
	&nbsp;</p>
<p class="p1">
	<span class="s1"><i>Abram Lincoln Hobson (03/22/1861-03/07/1929)(A--68-3) 1926 + 1940&nbsp;</i></span></p>
<p class="p2">
	<span class="s2">Abram Lincoln Hobson was the son of William Dewey Hobson, commonly referred to by historians as the “Father of Ventura County” for his pioneering efforts in successfully separating Ventura County from Santa Barbara County.&nbsp; Abram L. Hobson was a major developing contributor to local and state wide growth in his own right.&nbsp; Growing out of his involvement with the cattle business, he and his brother, William A. Hobson, formed the Hobson Brothers Meat Packing Company, which served all of Ventura County, as well as the Santa Barbara Packing Company for that area.&nbsp; He was one of the foremost promoters and developers of the oil industry in Ventura and his vision in the very early 1920s purchased the land for leasing to the major oil&nbsp;</span><span class="s1">companies that launched the period of significance in Ventura called </span><span class="s2"><i>The Oil and Land Boom of the 1920s</i></span><span class="s1">. His obituary called him the “Father of the Oil Field”. He was an accomplished horseman and invested heavily in cattle grazing lands throughout the state of California.&nbsp; He was one of the founding directors of the Ventura County Fair Grounds. He was the original president of the Elks Corporation that made possible the Elks Lodge on Ash Street in Ventura; and was president of the Masons Building Corporation that created the Masonic Temple on Santa Clara Street in Ventura.&nbsp; He deeded land along Rincon Highway for parks and was instrumental in providing 240 acres of land for Foster Park, being a life-long friend of E. P. Foster.&nbsp; His joint development with his brother of the San Miguel beach area for agriculture by directing the river silt through levees and gates led to the creation of the development of Pierpont Bay and eventually the Ventura Keys. Outside of Ventura, he and some partners developed 90,000 acres in Riverside for irrigation and subdivision and became president of the Palo Verde Land and Water Company, founding the City of Blythe.&nbsp; He was instrumental in developing land throughout both Southern and Central California for all of his life.</span>&nbsp; A. L. Hobson was one of the founding members of the Ventura Securities Company for Ivy Lawn Cemetery in 1917.</p>
<p class="p2">
	&nbsp;</p>
<p class="p2">
	<span style="color:#ff0000;">SOURCE: IVY LAWN STAFF</span></p>
 <a href="/records/177159">Read more...</a>
        <span class="clear">&nbsp;</span>
        <hr>
      </li>
      <li>
        <img align="right" alt="Small_large_haley" hspace="10" src="http://c190930.r30.cf1.rackcdn.com/uploads/lifestory/storypic/20/small_large_haley.gif" vspace="10">
        <p>
	&nbsp;</p>
<p class="p1">
	<span class="s1"><i>Katherine Hoffman Haley </i></span><span class="s2">(08/17/1919-12/25/1999) (A-178-1) N/B</span></p>
<p class="p1">
	<span class="s2">A businesswoman, rancher, and philanthropist, Katherine H. Haley was also a member of the Hobson family, daughter of Edith Hobson Hoffman and Walter H. Hoffman, Jr.&nbsp; She managed family real estate and investments and raised champion shorthorn cattle and quarter horses, one of which was President Ronald Reagan’s favorite mount, Mr. Spats.&nbsp; In the area of philanthropy and volunteerism, she was acknowledged as Woman of the Year in Agriculture by the California Museum of Science and Industry in 1970.&nbsp; In 1986, she was given the Milton M. Teague Award for Outstanding Volunteerism, and in 1986, she was grand marshal of the Ventura County Fair Parade.&nbsp; In politics, she was a tireless fund raiser for the Republican Party in Ventura County, was on the Committee to Re-Elect Congressman Bob Lagomarsino throughout his tenure, raised large amounts of money to elect and re-elect Gov. and President Ronald Reagan.&nbsp; She was a founding chairwoman of California’s Racing Hall of Fame.&nbsp; From 1958 to 1999 she served on the board of Community Memorial Hospital in Ventura.&nbsp; She is locally known as probably the primary major fund raiser for and visionary of the Ventura County Museum of History and Art (now Museum of Ventura County).&nbsp; She also owned an exceptional collection of the western art of Edward Borein.</span></p>
<p class="p2">
	<span style="color:#ff0000;">SOURCE: IVY LAWN STAFF</span></p>
 <a href="/records/177236">Read more...</a>
        <span class="clear">&nbsp;</span>
        <hr>
      </li>
      <li>
        <img align="right" alt="Small_foster" hspace="10" src="http://c190930.r30.cf1.rackcdn.com/uploads/lifestory/storypic/21/small_Foster.jpg" vspace="10">
        <p>
	&nbsp;</p>
<p class="p1">
	<span class="s1"><i>Eugene Preston Foster</i></span><span class="s2"> (4/4/1848-02/12/1932) (PH-39-7) 1940</span></p>
<p class="p2">
	<span class="s2">A visionary, motivator, and significant philanthropist, this man helped create the modern day infrastructure of Ventura and Ventura County.&nbsp; The magnitude of his contributions were so great that they were celebrated within his lifetime as Foster Day on September 5, 1921 with the opening of Foster Library and City Hall.&nbsp; Crossing the United States in a covered wagon with his parents in 1854, he started ranching sheep in the 1870s.&nbsp; After a drought destroyed that venture, he walked from his home location to Ventura and asked for a job with the Santa Ana Water Company.&nbsp; From that point forward, his life was marked with success and generosity to his community.&nbsp; He purchased an interest in the Bank of Ventura and became president, holding that position for 35 years.&nbsp; Upon that bank being purchased by the Bank of Italy, he became Chairman of the Board and held that position until his passing.&nbsp; This put him in a unique position to fund civic projects of benefit to the city and county. He developed the parks system and highway system in Ventura County, including Foster Memorial Park,&nbsp;</span>dedicated to his young son who had died in childhood. Always an early environmentalist, he planted the two Norfolk Island&nbsp;Donlon mausoleum at Ivy Lawn.&nbsp;</p>
<p class="p2">
	&nbsp;</p>
<p class="p2">
	<span style="color:#ff0000;">SOURCE: IVY LAWN STAFF</span></p>
 <a href="/records/177973">Read more...</a>
        <span class="clear">&nbsp;</span>
        <hr>
      </li>
      <li>
        <img align="right" alt="Small_large_bard" hspace="10" src="http://c190930.r30.cf1.rackcdn.com/uploads/lifestory/storypic/19/small_large_Bard.jpg" vspace="10">
        <p>
	&nbsp;</p>
<p class="p1">
	<span class="s1"><i>Richard Bard</i></span><span class="s2"> (2/17/1892-8/22/1969) (PH-43-4) 1940</span></p>
<p class="p1">
	<span class="s2">He is quoted in his obituary at the Find A Grave website as saying "<i>Time is the scarcest commodity of all</i>", and he used his time to its greatest advantage.&nbsp; Son of Senator Thomas Robert Bard, Richard was historically significant in his own right.&nbsp; &nbsp; He was born in the beautiful Bard home called Berylwood in Port Hueneme that later became the Officer's Club at the Naval Construction Battalion Center.&nbsp; Although educated at Harvard Law School, his father's passing in 1915 necessitated that he return home to oversee the family interests, specifically, the Berylwood Investment Company which included vast holdings of agricultural development and oil. In World War I, he served as a 1st Lieutenant and in World War II he attained the rank of Major, receiving the Croix de Guerre and Silver Star from Charles de Gaulle. He organized the Mutual Water System in 1924 and went on to be a director of the Metropolitan Water District. He took up his father's original vision of a Port Hueneme Harbor and started an official legislative and public relations movement toward that end in 1926.&nbsp; After many setbacks, that dream was realized with the creation of the Oxnard Harbor District and the construction of the harbor in the late 1930s. In the 1940s he was appointed a Ventura County Supervisor.&nbsp; He served in the capacity of either director or president of many organizations, including the California Lima Bean Growers Association, the Graham-Loftus Oil Corporation, the Bank of Hueneme, the Hueneme Dock Corporation, and the Las Posas Water Company.&nbsp; He had a focus on future generations by serving as a trustee of Occidental College He represented the Bard family's wish and request to move the remains of Senator Thomas Bard and other members of the Bard family to Ivy Lawn Memorial Park from the grounds of the Berylwood home in 1967.</span></p>
<p class="p1">
	<span style="color:#ff0000;"><span class="s2" style="">SOURCE: IVY LAWN STAFF</span></span></p>
 <a href="/records/177977">Read more...</a>
        <span class="clear">&nbsp;</span>
        <hr>
      </li>
  </ul>
</div>
  &nbsp;
</div>