<div class="whole blog">

  <h1>Burial Options and Products</h1>
  <span class="blog_published">2012-10-05</span>
  <p>
	<strong>Burial Options</strong></p>
<p>
	Ivy Lawn Memorial Park offers a wide range of burial options.</p>
<p>
	Choose from a variety of settings, sizes, and price points. Whatever you select, your purchase includes “endowment care” which provides perpetual maintenance of basics like grass cover and care of a crypt or niche. For an additional fee, we can arrange ongoing planting, monument upkeep, and flower arrangements.</p>
<p>
	Have more questions? We invite you to contact our staff or attend one of our programs about burial and other end-of-life concerns. These scheduled events include walking tours of new burial space and talks by estate lawyers, funeral directors and other experts.</p>
<p>
	<a href="#">REQUEST MORE »</a></p>
<hr noshade="noshade" size="1">
<p>
	<strong>Products</strong></p>
<p>
	Our cemetery reflects Ivy Lawn’s reputation for quality, craftsmanship, and care, encompassing the cemetery’s historic entrance, cremation gardens, niches, crypts, chapel, and mausoleums.</p>
<p>
	To address the national trend toward cremation, a large number of spaces for cremated remains are available. Granite benches are located throughout the setting. Prices range from $2,000 - $ 7,000.</p>
<p>
	Ivy Lawn’s memorials spaces fulfill and respond to today’s evolving needs for burial and commemoration.</p>
<p>
	Our burial options allow for casket burial, urn burial, and burial of cremated remains without an urn. In addition, a number of garden burials with individual markers are available, as well as burials with upright monuments.</p>
<p>
	We have many cremation gardens that offer tranquil settings.</p>
<p>
	Family plots graves for casket or cremation burial, with the option of inscription rights on a shared or individual memorial.</p>
<p>
	Interested in a larger lot specially designed for your needs and interests? We offer premium space in a few selective spots around the Cemetery. These spaces have capacity for multiple burials.</p>
<p>
	Full graves for casket or cremation burial, with the option of inscription rights on an individual memorial. The new parts of the cemetery become a park-like area with inspiring natural scenery carefully preserved and developed to attain a high degree of quiet dignity and peace. Pricing range from $3,500 to $10,000.</p>
<p>
	Legacy Garden represents a contemporary point of view. Available options include single and multiple cremation burials graves for casket or cremation burial, with the option of inscription rights on a shared or individual memorial.</p>

  <span class="blog_back"><a href="/blogs">Back to all articles</a></span>
</div>