<div id="recent">
    <h3> Recent Updates</h3>
   <div class="scroll">
      <ul>
            <li>
      <a href="/records/188701">MARY,
        VECCHIO <span class="updated">about 22 hours ago</span> </a>
    </li>
    <li>
      <a href="/records/188129">MATHILDE ,
        TRINCALE <span class="updated">about 22 hours ago</span> </a>
    </li>
    <li>
      <a href="/records/187285">ROBERT,
        FRENCH <span class="updated">about 22 hours ago</span> </a>
    </li>
    <li>
      <a href="/records/188651">ANTHONY,
        ARCIDE <span class="updated">about 22 hours ago</span> </a>
    </li>
    <li>
      <a href="/records/128378">WILLIAM,
        FALLIS <span class="updated">2 days ago</span> </a>
    </li>
    <li>
      <a href="/records/92028">WILLIAM,
        FALLIS <span class="updated">2 days ago</span> </a>
    </li>
    <li>
      <a href="/records/94084">CHARLES,
        HARWOOD <span class="updated">2 days ago</span> </a>
    </li>
    <li>
      <a href="/records/94082">AURELIA,
        HARWOOD <span class="updated">2 days ago</span> </a>
    </li>
    <li>
      <a href="/records/97779">THEOHILE ...,
        BIANE <span class="updated">2 days ago</span> </a>
    </li>
    <li>
      <a href="/records/116331">JEANNE,
        BIANE <span class="updated">2 days ago</span> </a>
    </li>
    <li class="show_more"><a href="#" rel="recent_updates">Show More...</a></li>

<li id="recent_paginate"><div class="pagination"><span class="previous_page disabled">← Previous</span> <em class="current">1</em> <a rel="next" href="/?page=2">2</a> <a href="/?page=3">3</a> <a href="/?page=4">4</a> <a href="/?page=5">5</a> <a href="/?page=6">6</a> <a href="/?page=7">7</a> <a href="/?page=8">8</a> <a href="/?page=9">9</a> <span class="gap">…</span> <a href="/?page=4829">4829</a> <a href="/?page=4830">4830</a> <a class="next_page" rel="next" href="/?page=2">Next →</a></div></li>

        <li id="recent_paginate"><div class="pagination"><span class="previous_page disabled">← Previous</span> <em class="current">1</em> <a rel="next" href="/?page=2">2</a> <a href="/?page=3">3</a> <a href="/?page=4">4</a> <a href="/?page=5">5</a> <a href="/?page=6">6</a> <a href="/?page=7">7</a> <a href="/?page=8">8</a> <a href="/?page=9">9</a> <span class="gap">…</span> <a href="/?page=4829">4829</a> <a href="/?page=4830">4830</a> <a class="next_page" rel="next" href="/?page=2">Next →</a></div></li>
      </ul>
   </div>
</div>

<div id="updates" style="">
<h3>Burial Contributions</h3>
  <div class="scroll">
      <ul>
            <li>
      <a href="/records/100860">CLIFFORD, GRABER  <span class="updated">about 1 month ago</span> </a>
    </li>
    <li>
      <a href="/records/94082">AURELIA, HARWOOD  <span class="updated">about 1 month ago</span> </a>
    </li>
    <li>
      <a href="/records/94097">JOHN, ROBERTSON   <span class="updated">about 1 month ago</span> </a>
    </li>
    <li>
      <a href="/records/110083">VINA, DANKS  <span class="updated">about 1 month ago</span> </a>
    </li>
    <li>
      <a href="/records/118041">WILLIAM, LINDLEY  <span class="updated">about 1 month ago</span> </a>
    </li>
    <li>
      <a href="/records/114322">ORVILLE, ENSIGN  <span class="updated">about 1 month ago</span> </a>
    </li>
    <li>
      <a href="/records/91631">KEZZIE, MONROE  <span class="updated">about 1 month ago</span> </a>
    </li>
    <li>
      <a href="/records/134994">FRANCES, OAKLEY  <span class="updated">about 1 month ago</span> </a>
    </li>
    <li>
      <a href="/records/188469">E.H., RICHARDSON  <span class="updated">about 1 month ago</span> </a>
    </li>
    <li>
      <a href="/records/188469">E.H., RICHARDSON  <span class="updated">about 1 month ago</span> </a>
    </li>
<li class="show_more"></li>
<li id="updates_paginate"></li>
    <li>
      <a href="/records/100860">CLIFFORD, GRABER  <span class="updated">about 1 month ago</span> </a>
    </li>
    <li>
      <a href="/records/94082">AURELIA, HARWOOD  <span class="updated">about 1 month ago</span> </a>
    </li>
    <li>
      <a href="/records/94097">JOHN, ROBERTSON   <span class="updated">about 1 month ago</span> </a>
    </li>
    <li>
      <a href="/records/110083">VINA, DANKS  <span class="updated">about 1 month ago</span> </a>
    </li>
    <li>
      <a href="/records/118041">WILLIAM, LINDLEY  <span class="updated">about 1 month ago</span> </a>
    </li>
<li class="show_more"></li>
<li id="updates_paginate"></li><li>
      <a href="/records/100860">CLIFFORD, GRABER  <span class="updated">about 1 month ago</span> </a>
    </li>
    <li>
      <a href="/records/94082">AURELIA, HARWOOD  <span class="updated">about 1 month ago</span> </a>
    </li>
    <li>
      <a href="/records/94097">JOHN, ROBERTSON   <span class="updated">about 1 month ago</span> </a>
    </li>
    <li>
      <a href="/records/110083">VINA, DANKS  <span class="updated">about 1 month ago</span> </a>
    </li>
    <li>
      <a href="/records/118041">WILLIAM, LINDLEY  <span class="updated">about 1 month ago</span> </a>
    </li>
<li class="show_more"></li>
<li id="updates_paginate"></li><li>
      <a href="/records/100860">CLIFFORD, GRABER  <span class="updated">about 1 month ago</span> </a>
    </li>
    <li>
      <a href="/records/94082">AURELIA, HARWOOD  <span class="updated">about 1 month ago</span> </a>
    </li>
    <li>
      <a href="/records/94097">JOHN, ROBERTSON   <span class="updated">about 1 month ago</span> </a>
    </li>
    <li>
      <a href="/records/110083">VINA, DANKS  <span class="updated">about 1 month ago</span> </a>
    </li>
    <li>
      <a href="/records/118041">WILLIAM, LINDLEY  <span class="updated">about 1 month ago</span> </a>
    </li>
<li class="show_more"><a href="#" rel="updates_updates">Show More...</a></li>
<li id="updates_paginate"><div class="pagination"><span class="previous_page disabled">← Previous</span> <em class="current">1</em> <a rel="next" href="/recent_records/updates?page=2">2</a> <a href="/recent_records/updates?page=3">3</a> <a class="next_page" rel="next" href="/recent_records/updates?page=2">Next →</a></div></li></ul>
</div>
</div>