<div class="sub-copy">
<div class="half">

  <h2>Sign in</h2>
<form accept-charset="UTF-8" action="/users/sign_in" class="user_new" id="user_new" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="o8lIGfYu8BnrHf5HBYNOHtQveOWdsI2ttRjJsKnLbeE="></div>
  <p><label for="user_email">Email</label><br>
  <input id="user_email" name="user[email]" size="30" type="text"></p>

  <p><label for="user_password">Password</label><br>
  <input id="user_password" name="user[password]" size="30" type="password"></p>

    <p><input name="user[remember_me]" type="hidden" value="0"><input id="user_remember_me" name="user[remember_me]" type="checkbox" value="1"> <label for="user_remember_me">Remember me</label></p>

  <p><input name="commit" type="submit" value="sign_in"></p>
</form>

  <a href="/users/password/new">Forgot your password?</a><br>

  <a href="/users/confirmation/new">Didn't receive confirmation instructions?</a><br>

  <a href="/users/unlock/new">Didn't receive unlock instructions?</a><br>

</div>

<div class="half" id="signup">
  <p> &nbsp;</p>
  <h2>Don't have an account?</h2>
  <p>
    Signing up for a user account allows you to quickly follow the records of your loved ones, and contribute to their memory.
  </p>
  <p> &nbsp;</p>
  <h3>
    <a href="/users/sign_up">Sign Up Now </a>
  </h3>
</div>
  <span class="clear">&nbsp;</span>
</div>