<script type="text/javascript">
  $(function(){
     $("#slides").slides({
         preload: true,
         generateNextPrev: true,
         play: 5000,
         hoverPause: true,
         autoHeight: true,
         start: 1,
         effect: 'slide, fade',
         preloadImage: '/loading.gif'
     });
  });
</script>

<div id="slides">
  <div class="slides_container">
    <div>
      <img src="http://c190930.r30.cf1.rackcdn.com/uploads/gallery/gallery_photo/88/pic1.png" alt="">
    </div>
     <div>
        <img src="http://c190930.r30.cf1.rackcdn.com/uploads/gallery/gallery_photo/88/pic1.png" alt="">
      </div>
  </div>
</div>
<span class="clear">&nbsp;</span>