<div class="sub-copy">
	<h1>
		About Ivy Lawn</h1>
	<p>
		Ivy Lawn Memorial Park is unique.&nbsp; It is the ONLY Historic District Cemetery in Ventura County!&nbsp; We are proud to be selected for this honor as the criterion states &ldquo;A cemetery is eligible if it derives its primary significance from graves of persons of transcendent importance, from age, from distinctive design features, or from association with historic events&rdquo;.</p>
	<p>
		Ivy Lawn Memorial Park is the final resting place for the largest percentage of historically significant individuals in all of Ventura county.&nbsp; Today there are over 50,000 individuals interred at Ivy Lawn.</p>
	<p>
		Ivy Lawn Cemetery was the very first Lawn Park Cemetery in Ventura County and was specifically designed to serve the needs of both Ventura and Oxnard.&nbsp; The large expansive grassy areas, the circulation patterns of winding roads, the landscape, the monuments and family mausoleums are elements of the character of the cemetery.</p>
	<p>
		A coalition of forces made Ivy Lawn a reality began in the Spring of 1913.&nbsp; Prominent leading businessmen formed a corporation in 1917 called the Ivy Lawn Cemetery Association.</p>
	<p>
		Ivy Lawn is a concentrated collection and microcosm of 19th and 20th century individuals, military veterans, architecture, art iconography and symbolism.&nbsp; Often original monuments made the move with the people.&nbsp; The cemetery evolved over the decades it reflected the changing times in both architecture and societal culture.&nbsp; Along with new interments, cemetery records reveal that many people were moved from other cemeteries to Ivy Lawn.&nbsp; From 1917 through 1960&rsquo;s hundreds of individuals were relocated from the Ventura Cemetery, and nearly of the occupants of the Springville Cemetery.</p>
	<p>
		It is notable that at Ivy Lawn Memorial Park the astute business practices and financial guidance of the Board of Directors has enabled the cemetery to remain an independent non-profit corporation directed by community leaders.&nbsp; Today the majority of cemeteries are owned and operated by large for-profit corporations.</p>
	<p>
		The current Board of Directors are guided by the same spirit of the founding members and envision Ivy Lawn as a public service.&nbsp; This makes Ivy Lawn Memorial Park unique.</p>
	<p>
		<br />
		<span style="font-size: 14px"><strong>What Makes Ivy Lawn Special?</strong></span></p>
	<p>
		The pastoral setting of Ivy Lawn Memorial Park contains elements</p>
	<p>
		Elements of the cemetery sections, pathways, roadways, mausoleums, tombstones, monuments, columbarium and crypts have all retained their original design.</p>
	<p>
		In 1964 Ivy Lawn built its mausoleum which was reported &ldquo;to be the first of its kind in the county&rdquo;.&nbsp; It is now one of the most significant classically designed Mid Century Modern structures in Ventura County.&nbsp; Its clean lines are ornamented with a structural enclosure that represents tress reaching to heaven.&nbsp; It has a floor to ceiling mosaic mural which depicts the progression from beginning of life to eternity.</p>
	<p>
		Our chapel, also Mid Century Modern design, has exquisite examples of stained glass art.</p>
	<p>
		Ivy Lawn has many exceptional examples of funerary architecture in the form of sculptures, memorials, monuments and abundant examples in the tombstones.</p>
</div>
<p>
	&nbsp;</p>
