<div class="quarter navigator">
  <h3>Page Navigator</h3>
  <ul>
    <li><a href="#mission">Our Mission</a></li>
    <li><a href="#overview">Cemetery Overview</a></li>
    <li><a href="#history">Bellevue History</a> </li>
    <li><a href="#directors">Board of Directors</a></li>
    <li><a href="#office">Office Staff</a></li>
  </ul>
</div>
<div class="static_page">
  <!-- Mission -->
<h1 id="our_mission"><a name="mission">Our Mission</a></h1>
<img src="http://d3504266c52e91094680-73df30f0c373bf2983e6b9426304f834.r68.cf1.rackcdn.com/bellevue/sunsetmauso.jpg" alt="Sunset Mausolum" align="left" class="body_img" style="width: 400px;">
<p>
  The mission of Bellevue Memorial Park is to provide caring service and an exceedingly well-cared for resting place for the great and culturally diverse families of the Inland Empire and surrounding areas.
</p>
<h3><a name="overview">Overview</a></h3>
<p>
  Bellevue Memorial Park is an historic cemetery located in the heart of Ontario, California. Founded in 1892, and with over 115 years of experience, Bellevue has been helping families in the community with the often difficult decisions they are faced with when a loss occurs. Bellevue Memorial Park has been providing families with expert service for generations. From our knowledgeable, experienced staff of family service counselors, to our meticulous grounds team, we are here for you and your family at the time of need, and to assist you in planning for your future needs.
</p>
<p>
  Bellevue Memorial Park proudly serves all faiths and cultures, and we offer many different options and plans for you and your loved ones. The beautiful park provides a peaceful setting for outdoor services, and the two mausoleums provide a comforting indoor environment, with a variety of competitively priced crypts and niches. The three mausoleum chapels are available for on-site family services and special holiday events sponsored by the cemetery.
</p>
<p>
  Bellevue Memorial Park is a private, non-profit cemetery, which operates under Endowment Care, providing for the care, maintenance, and embellishment of the cemetery, and, ensuring that the beauty of the park is preserved for generations to come.
</p>
<p>
  Whether you are pre-planning for yourself or a loved one, or simply wish to remember a special person in your life with a memorial, Bellevue Memorial Park is here to assist you.
</p>
<p>  
  We invite you to visit us and share in the beauty of the old oaks, discover a bit of Ontario's history, and remember and reflect in the serene settings of the park's tranquil landscape.
</p>

<!-- HISTORY -->
<h2><a name="history">History</a></h2>
<img src="http://d3504266c52e91094680-73df30f0c373bf2983e6b9426304f834.r68.cf1.rackcdn.com/bellevue/history.jpg" alt="" align="left" class="body_img" style="width: 400px;">
<p>The Early Years - Bellevue Memorial Park, (Ontario Cemetery Association), was founded in 1891 and incorporated in 1892, with three original shareholders, Charles E. Harwood, H. C. Oakley, and Dr. J.W. Oakley. The senior Mr. Abram Oakley was originally buried in Pomona Cemetery, and his son, Dr. J.W. Oakley later decided he would like him to be buried in Ontario, but there was no cemetery.</p>

<p>The townspeople set aside 10 acres of land at the northwest corner of Mountain Avenue and G Street, then owned by C.E. Harwood. After disinterring Mr. Oakley from Pomona Cemetery, he was interred at Bellevue, and was the city's first official funeral. The name "Bellevue" was selected by Mrs. Oakley, who named the cemetery after a street in her home town of Ontario, Canada. The original by-laws of the Bellevue Cemetery Association are dated May 24, 1891.</p>
<p>The townspeople set aside 10 acres of land at the northwest corner of Mountain Avenue and G Street, then owned by C.E. Harwood. After disinterring Mr. Oakley from Pomona Cemetery, he was interred at Bellevue, and was the city's first official funeral. The name "Bellevue" was selected by Mrs. Oakley, who named the cemetery after a street in her home town of Ontario, Canada. The original by-laws of the Bellevue Cemetery Association are dated May 24, 1891.</p>
  <p>Many of the families who helped to shape Ontario's original "Model Colony," and who are largely responsible for what is Ontario today are laid to rest at Bellevue Memorial Park –a few being the Chaffeys, the Millikens, the Atwoods, and the Drapers. The markers and headstones of many Civil War veterans can also be found in the old section of the cemetery. Over 800 veterans are buried at Bellevue Memorial Park from the Civil War, Spanish-American War, the two World Wars, Korea, Viet Nam, and the Iraq War.</p>
  <p>Today - Since 1891, the cemetery has grown considerably, and today encompasses approximately 78 acres. The original Bellevue Mausoleum was constructed in 1915 and contained 300 crypts. In the following years, it was expanded to it's current size of 22,000. The newest Mausoleum, Sunset Mausoleum, was completed in 2005, and houses approximately 900 crypts and 800 niches.</p>
    <p>Bellevue Memorial Park has become an integral part of the community throughout the years, and continues its growth and expansion, serving Ontario and the surrounding communities of the Inland Empire. Bellevue Memorial Park still remains the only cemetery in Ontario and this year celebrates 116 years of service, dedication, and compassion for our many families and their loved ones.</p>
<!-- Board -->
<h2><a name="directors">Board of Directors</a></h2>
<div class="staff">
  <img alt="Renee Biane" class="" src="http://d3504266c52e91094680-73df30f0c373bf2983e6b9426304f834.r68.cf1.rackcdn.com/bellevue/RENEE-BIANE.jpg" title="Rene Biane">
  <h4>René Biane</h4>
  <span class="staff_title">President</span>
</div>
<div class="staff">
  <img alt="Lowell Stark" class="" src="http://d3504266c52e91094680-73df30f0c373bf2983e6b9426304f834.r68.cf1.rackcdn.com/bellevue/LOWELL-STARK.jpg" title="Lowell Stark">
  <h4>Lowell Stark</h4>
  <span class="staff_title">Vice President</span>
</div>
<div class="staff">
  <img alt="Ron Yokley" class="" src="http://d3504266c52e91094680-73df30f0c373bf2983e6b9426304f834.r68.cf1.rackcdn.com/bellevue/RON-YOKLEY.jpg" title="Ron Yokley">
  <h4>Ron Yokley</h4>
  <span class="staff_title">Member</span>
</div>
<div class="staff">
  <img alt="James Bank" class="" src="http://d3504266c52e91094680-73df30f0c373bf2983e6b9426304f834.r68.cf1.rackcdn.com/bellevue/JAMES-BANK.jpg" title="James Bank">
  <h4>James Bank</h4>
  <span class="staff_title">Secretary</span>
</div>
<div class="staff">
  <img alt="Loren Runner" class="" src="http://d3504266c52e91094680-73df30f0c373bf2983e6b9426304f834.r68.cf1.rackcdn.com/bellevue/lOREN-RUNNER.jpg" title="Loren Runner">
  <h4>Loren Runner</h4>
  <span class="staff_title">Treasurer</span>
</div>

<!-- Office Staff -->
<span class="clear">&nbsp;</span>
<h2><a name="office">Office Staff</a></h2>
<div class="staff">
  <img alt="Randy Inlow" class="" src="http://d3504266c52e91094680-73df30f0c373bf2983e6b9426304f834.r68.cf1.rackcdn.com/bellevue/RANDY.jpg" title="Randy Inlow">
  <h4>Randy Inlow</h4>
  <span class="staff_title">General Manager</span><br />
  <span class="email"><a href="mailto:rinlow@bellevuemp.com">rinlow@bellevuemp.com</a></span>
</div>
<div class="staff">
  <img alt="Lori Teal" class="" src="http://d3504266c52e91094680-73df30f0c373bf2983e6b9426304f834.r68.cf1.rackcdn.com/bellevue/lteal.jpg" title="Lori Teal">
  <h4>Lori Teal</h4>
  <span class="staff_title">Family Counselor / Marketing Director</span><br />
  <span class="email"><a href="mailto:lteal@bellevuemp.com">lteal@bellevuemp.com</a></span>
</div>

<div class="staff">
  <img alt="Mary Bourque" class="" src="http://d3504266c52e91094680-73df30f0c373bf2983e6b9426304f834.r68.cf1.rackcdn.com/bellevue/MARY-B.jpg" title="Mary Bourque">
  <h4>Mary Bourque</h4>
  <span class="staff_title">Administrative Associate</span><br />
  <span class="email"><a href="mailto:mborurque@bellevuemp.com">mborurque@bellevuemp.com</a></span>
</div>
<div class="staff">
  <img alt="Kate Seeger" class="" src="http://d3504266c52e91094680-73df30f0c373bf2983e6b9426304f834.r68.cf1.rackcdn.com/bellevue/KATE-1.jpg" title="Kate Seeger">
  <h4>Kate Seeger</h4>
  <span class="staff_title">Administrative Associate</span><br />
  <span class="email"><a href="mailto:kseeger@bellevuemp.com">kseeger@bellevuemp.com</a></span>
</div>
<div class="staff">
  <img alt="Mary Helen Gonzales" class="" src="http://d3504266c52e91094680-73df30f0c373bf2983e6b9426304f834.r68.cf1.rackcdn.com/bellevue/MARY-HELEN.jpg" title="Mary Helen Gonzales">
  <h4>Mary Helen Gonzales</h4>
  <span class="staff_title">Family Service Counselor</span><br />
  <span class="staff_title">Se Habla Español</span><br />
  <span class="email"><a href="mailto:mgonzales@bellevuemp.com">mgonzales@bellevuemp.com</a></span>
</div>
<div class="staff">
  <img alt="Dez Fedorysyn" class="" src="http://d3504266c52e91094680-73df30f0c373bf2983e6b9426304f834.r68.cf1.rackcdn.com/bellevue/DEZ.jpg" title="Dez Fedorysyn">
  <h4>Dez Fedorysyn</h4>
  <span class="staff_title">Family Service Counselor</span><br />
  <span class="staff_title">Se Habla Español</span><br />
  <span class="email"><a href="mailto:dez@bellevuemp.com">dez@bellevuemp.com</a></span>
</div>
<div class="staff">
  <img alt="Linda Marra" class="" src="http://d3504266c52e91094680-73df30f0c373bf2983e6b9426304f834.r68.cf1.rackcdn.com/bellevue/LINDA.jpg" title="Linda Marra">
  <h4>Linda Marra</h4>
  <span class="staff_title">Accounting Manager</span> <br />
  <span class="email"><a href="mailto:lmarra@bellevuemp.com">lmarra@bellevuemp.com</a></span>
</div>


</div>
