<%= partial(:'default/inline_contact')%>
<div class="invent-content">
  <div class="contact_page">
  <h1>Contact</h1>
  <h2>Our priority is your satisfaction and peace of mind.</h2>
  <p>Seventy-eight acres of historical beauty conveniently located at Mountain Avenue and G Street between the I-10 &amp; 60 Freeways in Ontario, CA</p>
  <%= partial(:'default/map') %>
  
  <h2>Don't Think About the End
  AT THE END</h2>
  <p>You can't control whether your life will be like a movie script. But what you CAN control is the direction of its last scene. Do not leave your own finale in anyone's hands but your own.</p>
  <p>Bellevue Memorial Park will ensure your dignified farewell to this world in one of the most beautiful parks in the Inland Empire. To reserve your place or for immediate assistance call 909-986-1201.</p>
  </div>
  <div class="half contact_bullet">
    <ul>
      <li><strong>Burial Plots as low as $1695</strong></li>
      <li><strong>Cremation internment options as low as $295</strong></li>
      <li><strong>Pre-planning payments as low as $35 per month</strong></li>
    </ul>
    <h3>VISIT OUR OFFICE</h3>
      <ul>
        <li>1240 West G Street · Ontario, CA 91762</li>
        <li>Tel: (909) 986-1201 / Fax: (909) 986-3112</li>
      </ul>
  </div>
  <div class="one_third contact_bullet">
    <h3>VISITING HOURS</h3>
      <ul>
        <li><strong>CEMETERY VISITING HOURS:</strong>(Gate Hours)</li>
        <li>8 a.m. - 5 p.m.(Pacific Standard Time)</li>
        <li>8 a.m. - 6 p.m. (Daylight Savings Time)</li>
        <li>&nbsp;</li>
        <li><strong>MAUSOLEUM VISITING HOURS:</strong></li>
        <li>8:30 a.m. - 4:30 p.m.</li>
        <li>&nbsp;</li>
        <li><strong>ADMINISTRATION OFFICE HOURS:</strong></li>
        <li>8:30 a.m. - 4:30 p.m., M-F</li>
        <li>8:30 a.m. - 12:00 p.m. Sat</li>
        <li>Sunday - Closed</li>
      </ul>
    </div>
  </div>