<div class="sub-copy">
	<h1>
		Ivy Lawn Memorial Park Cremetory</h1>
	<p>
		Ivy Lawn Crematory is special! We offer a new state of the art facility designed with care to insure you have the utmost privacy and respect, and that you and your loved ones are surrounded by a peaceful secluded environment.</p>
	<p>
		Ivy Lawn Memorial Park went &quot;green&quot; when we built the crematory. We consider the environment to be an important part of our responsibility, Quality of care is most important. We have identification viewing and witnessed cremation viewing available. We are fully licensed and are randomly inspected by the Department of Consumer Affairs for proper operating procedures.</p>
	<img align="center" alt="outside building" class="pic_whole" src="http://c190930.r30.cf1.rackcdn.com/uploads/account_photo/managepic/4/ivy_lawn_Cremetory.jpg" />
	<p>
		If cremation is your choice or the choice of your loved one, you have many service options when you use the Ivy lawn Crematory. Our caring professionals will respectfully work with you to plan cremation services and memorialization that will fulfill your wishes and honor your life or the life of your loved one.</p>
	<p>
		When choosing cremation, it is also important to plan for the permanent placement of cremated remains. Cremation memorialization at Ivy Lawn Memorial Park gives you and your loved ones a physical place for visitation and reflection.</p>
	<p>
		&nbsp;</p>
	<span class="clear">&nbsp;</span> <img alt="cremation Garden" class="pic_right" src="http://c308653.r53.cf1.rackcdn.com/ivylawn/cremation.jpg" />
	<h3>
		Permanent Cremation Placement</h3>
	<ul class="crematory_list">
		<li>
			<strong>Cremation Niche:</strong> an above-ground space to accommodate a cremation urn.<br />
			Located within a mausoleum</li>
		<li>
			<strong>Cremation Garden or 1/2 Grave:</strong> A dedicated section of a cemetery designed for the burial, or permanent placement of ashes.</li>
		<li>
			<strong>Memorial Benches:</strong> benches that either simply memorialize a loved one scattered or buried in a cremation garden, or actually contain the remains within.</li>
		<li>
			<h3>
				<a href="http://ivylawn.org/blogs/low_cost_cremation_plan">Click here to find out about our own Simply Cremation Plan</a></h3>
		</li>
		<li>
			&nbsp;</li>
	</ul>
	<span class="clear">&nbsp;</span><br />
	<h3>
		Funeral homes</h3>
	<p>
		Ivy Lawn staff members will work with the funeral director of your choice. However, we are the crematory of choice for the following &quot;local&quot; referring funeral directors and funeral homes:</p>
	<ul id="funeral_homes">
		<li>
			Joseph P. Reardon Funeral Home<br />
			757 East Main Street Ventura, CA 93001<br />
			Phone: (805)643-8623<br />
			FD 883</li>
		<li>
			Reardon Funeral Home<br />
			511 North A St, Oxnard, CA 93030<br />
			Phone: (805)487-1720<br />
			FD 2069</li>
		<li>
			Garcia Mortuary<br />
			629 South A Street Oxnard, CA 93030<br />
			Phone: (805)486-9148<br />
			FD 1338</li>
		<li>
			Robert Rey Garcia Jr. Funeral Services<br />
			830 East Santa Paula St.<br />
			Santa Paula, CA 93060<br />
			Phone: (805)229-7054<br />
			FD 1993</li>
		<li>
			Santa Clara Mortuary<br />
			2370 North H Street Oxnard, CA 93030<br />
			Phone: (805)485-5757<br />
			FD1841</li>
		<li>
			Griffin Family Funeral Chapel<br />
			1075 East Daily Drive Camarillo, CA 93010<br />
			Phone: (805)482-1166<br />
			FD 1939</li>
		<li>
			Perez Family Funeral Home<br />
			1347 Del Norte Road Camarillo, CA 93010<br />
			Phone: (805)983-3457<br />
			FD1913</li>
	</ul>
	<span class="clear">&nbsp;</span>
	<p class="crematory-images">
		<img alt="sitting room" class="crematory-img-bottom" src="http://c308653.r53.cf1.rackcdn.com/ivylawn/room2.jpg" /> <img alt="fountain" class="crematory-img-bottom" src="http://c308653.r53.cf1.rackcdn.com/ivylawn/fountain2.jpg" /></p>
</div>
<p>
	&nbsp;</p>
