<h3>Ivy Lawn Memorial Park</h3>
<ul>
  <li class="first-li">5400 Valentine Road</li>
  <li>Ventura, CA 93003</li>
  <li>805.642.1055</li>
  <li class="last_item"><a href="mailto:info@ivylawn.org">info@ivylawn.org</a></li>
</ul>
<span class="clear">&nbsp;</span>
<h5>A California Non-Profit Public Benefit Corporation. Ivy Lawn is an endowment care cemetery.</h5>