<!-- footer below content -->
<ul>
  <li>Copyright &copy; 2013 BELLEVUE MEMORIAL PARK </li>
  <li> | &nbsp; <a href="?mobile=1">Mobile Site</a> </li>
  <li class="foot_space"> &nbsp;</a></li>
  <li> <a href="/home">Home</a></li>
  <li><a href="/about_us">About Us</a></li>
  <li><a href="/our_services">Our Services</a></li>
  <li><a href="/pre_planning">Pre Planning</a> </li>
  <li><a href="/contact">Contact</a></li>
</ul>