<!-- Header above content-->
<div class="phone">
&nbsp; | &nbsp; 909-986-1201<br />
<a href="/contacts/new" class="contact_top" rel="contact">Send us an Email</a> <a href="facebook.com" class="facebook"><img src="web_images/facebook.png" /></a>
</div>
<div id="header_spacer"> 
 Bellevue Memorial Park - Ontario Cemetery Association 
</div>
<div id="nav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about_us">About Us</a></li>
    <li><a href="/records">Burial Records</a></li>
    <li><a href="/blogs">News</a></li>
    <li><a href="/our_services">Our Services</a></li>
    <li><a href="/pre_planning">Pre Planning</a></li>
    <li><a href="/featured">Burials of Note</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</div>