<div id="header">
<div class="ivy-logo"><a href="/" class="logo-link"><img width="699" height="75" src="http://d3504266c52e91094680-73df30f0c373bf2983e6b9426304f834.r68.cf1.rackcdn.com/ivylawn/ivylawn_logo.png" alt="Ivy Lawn Memorial Park and Funeral Home" /></a></div>

<div class="header-phone">(805) 642-1055<br><a class="header-email" href="/contacts/new" rel="contact">Send Us an Email</a></div>

<div class="clear"></div>
</div>
<div id="nav">
<ul class="nav-wrap">
<li class="no-divider-left"><a href="/">Home</a></li>
<li><a href="/about">What Makes Us Special?</a></li>
<li><a href="/blogs">News</a></li>
<li><a href="/visit">Visit</a></li>
<li><a href="/crematory">Cemetery</a></li>
<li><a href="/crematory">Cremation</a></li>
<li><a href="/plan_ahead">Plan Ahead</a></li>
<li><a href="/records">Record Search</a></li>
<li><a href="/products">Products</a></li>
<li class="no-divider-right"><a href="/contact">Contact</a></li>
</ul>

<ul class="nav-bg"></ul>

<div class="clear"></div>
</div>