<div class="two_thirds" id="home">
	<h1>
		What Makes This Place Special?</h1>
	<div class="item">
		<img alt="" src="http://cms.allplaces.net/ivylawn/images/historic.jpg" />
		<h2>
			Celebrating 100 YEARS of service to our community!</h2>
		<p>
			Today there are over 50,000 individuals interred at Ivy Lawn.</p>
		<p>
			<strong>Ivy Lawn is the final resting place</strong> for the largest percentage of historically significant and contributing individuals in all of Ventura County. <a href="/featured_burials/">Read more....</a></p>
	</div>
	<div class="item">
		<img alt="" src="http://c190930.r30.cf1.rackcdn.com/uploads/account_photo/managepic/4/thumb_ivy_lawn_Cremetory.jpg" />
		<p>
			Ivy Lawn Memorial Park s one of very few cemeteries with an on-site crematory. We provide a peaceful setting where family members can be present at the start of cremation if they wish. The Cemetery is sensitive to the traditions of all different faiths. <a href="/crematory">Read more...</a> </p>
	</div>
	<div class="item">
		<img alt="" src="http://cms.allplaces.net/ivylawn/images/tombfinder.jpg" />
		<p>
			<strong>Ivy Lawn introduces a new Mobile App!</strong> Ivy Lawn is Ventura County&rsquo;s ONLY Historic Cemetery with 60 acres of sprawling lawns and gardens, chapel, mausoleum and other unique areas. You can experience an active cemetery and the stories of history, horticulture, monuments, and the lives of those now buried here all from your phone. The Ivy Lawn Memorial Park app works with your iphone or ipad. To start exploring on any mobile device, download the app from <a href="http://www.tombfinder.com">tombfinder.com</a>.</p>
	</div>
</div>
<div class="one_third recent">
	<h1>
		Plan Ahead</h1>
	<p>
		<span face="">Make life easier and have peace of mind!! Ivy Lawn now offers all of our customers the option of pre paying for services and products. Visit the office for literature or feel free to call Vickie Berman, our Homesteaders representative at 805-642-1055. <a href="/plan_ahead/">Learn more...</a></span></p>
</div>
<div class="one_third recent">
	<h1>
		Visit Ivy Lawn</h1>
	<p>
		Thousands of visitors come to Ivy Lawn Memorial Park each year to visit the graves of those buried here, participate in our programs, explore our many facets, and commune with nature. Come discover for yourself what makes Ivy Lawn a local treasure. <a href="/visit/">Learn more...</a></p>
</div>
<p>
	&nbsp;</p>
