<div class="quarter navigator">
    <h3>Page Navigator</h3>
  <ul>
    <li><a href="#burial_options">Burial Options</a></li>
    <li><a href="#ground">Ground Burial</a></li>
    <li><a href="#cremation">Cremation</a></li>
    <li><a href="#mausoleum">Mausoleums</a></li>
  </ul>
</div>
<div class="static_page">
  <h1><a name="burial_options">Burial Options</a></h1>
  <img src="/web_images/burial1.jpg" width="299" height="223" alt="Burial1" align="left" class="service">
  <p>Bellevue Memorial Park is a full service memorial park, providing a wide selection of beautiful garden sites for traditional burials, above-ground crypts in our two mausoleums and garden areas, niche internment, and urn garden burials. We offer competitive pricing allowing you to choose the locations and services which best fit your needs. Family Service Counselors are knowledgeable and experienced, offering you dedicated service and follow through, even after your needs have been met.</p>
  <span class="clear">&nbsp;</span>
  
  <img src="/web_images/Los-Robles-Cremation.jpg" width="350" height="233" alt="Los Robles Cremation" align="right" class="service">
    <h2><a name="ground">Ground Burial</a></h2>
  <p>Bellevue Memorial Park has many sections, both old and new, to choose from for traditional ground burials. Traditional ground burials are what most often come to mind when thinking of a cemetery.</p>
  <p>The newest sections which have recently become available are located at the west end of our park– the new Sunset Courtyard, and adjacent to it, the new Redwood section,which opened in early 2008. Traditional ground burial plots and lawn estates are affordably priced.</p>
  <span class="clear">&nbsp;</span>

<img src="/web_images/ws.jpg" width="300" height="300" alt="Ws" align="left" class="service">
  <h2><a name="cremation">Cremation</a></h2>
   <p>Bellevue Memorial Park offers many cremation burial options for you and your loved one. Our newest addition is our glass front cremation niches in the Court of Reassurance and court of Reflection located on the newly renovated West End Chapel of the Bellevue Mausoleum; these beautifully crafted niches edged in bronze provide a wonderful showcase to honor your loved ones and to  display meaningful memorabilia. We also offer the option of our granite  cremation niches in the beautiful Arbor Section at the entrance of the Sunset Mausoleum and glass front for granite cremation niches in the Chapel of Flowers inside the Sunset Mausoleum as well as the Vineyard Room, Gardenia and Jasmine alcoves.</p>
     <span class="clear">&nbsp;</span>
  <img src="/web_images/mausoleum.jpg" width="350" height="208" alt="Mausoleum" align="right" class="service">
  <h2><a name="mausoleum">Mausoleums</a></h2>
   <p>All good things come to an inevitable end. However the desire to be at the nicest place still remains. If you are consistently looking for the best, come reserve your place in Bellevue's impressive and beautiful Sunset Mausoleum, one of our new additions to Bellevue Memorial Park. Offering the combination of both Tuscan and Californian Mission Style architecture, the Sunset Mausoleum houses 800 crypts and 750 niches with your option of single, tandem  and side by side crypt placement and single, double or family size niche cremation interment. </p>
   <p>Elegant simplicity, lasting strength and protection in a secure environment are just a few qualities that the beautiful historic Bellevue Mausoleum has to offer. Since 1935 Bellevue's Mausoleum offers the availability of mausoleum crypt placement as well as a vast variety of niche interment in the newest addition to the West End Chapel of the Bellevue Mausoleum which offers over 290 of our new glass front bronze trimmed niches in your choice of either The Court of Remembrance or the Court of Reassurance.</p>  
</div>