<div class="quarter navigator">
    <h3>Page Navigator</h3>
  <ul>
    <li><a href="#burial_options">Burial Options</a></li>
    <li><a href="#ground">Ground Burial</a></li>
    <li><a href="#cremation">Cremation</a></li>
    <li><a href="#mausoleum">Mausoleums</a></li>
  </ul>
</div>
<div class="static_page">
  <h1><a name="burial_options">Burial Options</a></h1>
  <img src="http://d3504266c52e91094680-73df30f0c373bf2983e6b9426304f834.r68.cf1.rackcdn.com/bellevue/burial1.jpg" width="299" height="223" alt="Burial1" align="left" class="service">
  <p>Bellevue Memorial Park is a full service memorial park, providing a wide selection of beautiful garden sites for traditional burials, above-ground crypts in our two mausoleums and garden areas, niche internment, and urn garden burials. We offer competitive pricing allowing you to choose the locations and services which best fit your needs. Family Service Counselors are knowledgeable and experienced, offering you dedicated service and follow through, even after your needs have been met.</p>
  <span class="clear">&nbsp;</span>
  
  <img src="http://d3504266c52e91094680-73df30f0c373bf2983e6b9426304f834.r68.cf1.rackcdn.com/bellevue/Los-Robles-Cremation.jpg" width="350" height="233" alt="Los Robles Cremation" align="right" class="service">
    <h2><a name="ground">Ground Burial</a></h2>
  <p>Bellevue Memorial Park has many sections, both old and new, to choose from for traditional ground burials. Traditional ground burials are what most often come to mind when thinking of a cemetery.</p>
  <p>The newest sections which have recently become available are located at the west end of our park– the new Sunset Courtyard, and adjacent to it, the new Redwood section,which opened in early 2008. Traditional ground burial plots and lawn estates are affordably priced.</p>
  <p>Bellevue Memorial Park offers memorial markers which are a lasting and visible tribute to your loved ones. You can customize the marker you select to capture the true essence and character of your loved ones by choosing from the variety of colors and designs available.</p>
  <p>Burial vaults in the following materials of concrete, plastic, or metal, are designed to protect the casket inside of it from the weight of the ground above, from water intrusion, and from other elements. Unlike a burial liner, which covers the top and sides of the casket, a vault completely encloses the casket.</p>
  <span class="clear">&nbsp;</span>

<img src="http://d3504266c52e91094680-73df30f0c373bf2983e6b9426304f834.r68.cf1.rackcdn.com/bellevue/ws.jpg" width="300" height="300" alt="Ws" align="left" class="service">
  <h2><a name="cremation">Cremation</a></h2>
   <p>Bellevue Memorial Park offers many cremation burial options for you and your loved one. Our newest addition is our glass front cremation niches in the Court of Reassurance and court of Reflection located on the newly renovated West End Chapel of the Bellevue Mausoleum; these beautifully crafted niches edged in bronze provide a wonderful showcase to honor your loved ones and to  display meaningful memorabilia. We also offer the option of our granite  cremation niches in the beautiful Arbor Section at the entrance of the Sunset Mausoleum and glass front for granite cremation niches in the Chapel of Flowers inside the Sunset Mausoleum as well as the Vineyard Room, Gardenia and Jasmine alcoves.</p>
   <p>Both mausoleums offer niches, with a choice of glass front or bronze plate styles, with sizes to accommodate both single as well as family internment.</p>
   <p>The newest cremation option which is now available at Bellevue Memorial Park is cremation scattering in one of the five new Cremation Rose Scattering Gardens. These picturesque stone features are enhanced with beautiful, delicate rose varieties, and are located in the cemetery sections of Deodar, Catholic, Holy Cross, Redwood, and Elm.</p>
     <span class="clear">&nbsp;</span>
  <img src="http://d3504266c52e91094680-73df30f0c373bf2983e6b9426304f834.r68.cf1.rackcdn.com/bellevue/mausoleum.jpg" width="350" height="208" alt="Mausoleum" align="right" class="service">
  <h2><a name="mausoleum">Mausoleums</a></h2>
   <p>All good things come to an inevitable end. However the desire to be at the nicest place still remains. If you are consistently looking for the best, come reserve your place in Bellevue's impressive and beautiful Sunset Mausoleum, one of our new additions to Bellevue Memorial Park. Offering the combination of both Tuscan and Californian Mission Style architecture, the Sunset Mausoleum houses 800 crypts and 750 niches with your option of single, tandem  and side by side crypt placement and single, double or family size niche cremation interment. </p>
   <p>Elegant simplicity, lasting strength and protection in a secure environment are just a few qualities that the beautiful historic Bellevue Mausoleum has to offer. Since 1935 Bellevue's Mausoleum offers the availability of mausoleum crypt placement as well as a vast variety of niche interment in the newest addition to the West End Chapel of the Bellevue Mausoleum which offers over 290 of our new glass front bronze trimmed niches in your choice of either The Court of Remembrance or the Court of Reassurance.</p>  
   <p>Our two mausoleum buildings, Bellevue Mausoleum, and the newest, Sunset Mausoleum which opened in 2005, offer tremendous selections, as well as a variety of locations and pricing for those desiring an environment which is more private and protected from the elements of nature. Our mausoleums are enclosed structures in which we offer crypt entombment and niche internment. Bellevue and Sunset Mausoleum crypts are offered as singles, tandems, and side tandems or "True Companion."</p>
   <p>&nbsp;</p>
</div>

<!-- PRE PLANNING -->
<h1 class="page-tittle">
	Our Services</h1>
<div class="invent-site-map">
	<a class="active" href="/">Home</a> &rarr; <a class="active" href="/our-services">Our Services</a> &rarr; <a href="/pre-planning">Pre-Planning</a></div>
<section class="invent-content" id="content-wrap">
	<div class="invent-gallery">
		<ul class="gallery-splitter" id="gallery-splitter-1">
			<li class="gallery-all">
				<a href="/our-services#gallery-all" rel="all">All</a></li>
			<li class="gallery-gb">
				<a href="/our-services#gallery-gb" rel="gallerygroup-gb">Ground Burials</a></li>
			<li class="gallery-m">
				<a href="/our-services#gallery-m" rel="gallerygroup-m">Mausoleums</a></li>
			<li class="gallery-cb">
				<a href="/our-services#gallery-cb" rel="gallerygroup-cb">Cremation Options</a></li>
			<li class="gallery-mm">
				<a href="/our-services#gallery-mm" rel="gallerygroup-mm">Memorial Markers</a></li>
			<li class="gallery-bv">
				<a href="/our-services#gallery-bv" rel="gallerygroup-bv">Burial Vaults</a></li>
			<li class="gallery-pp selected">
				<a href="/pre-planning">Pre-Planning</a></li>
		</ul>
	</div>
	<p>
		&nbsp;</p>
	<h4>
		<img alt="Pre-Planning" class="image-left" height="258" src="http://cms.allplaces.net/ivylawn/bellevue/images/OurServices/photo_planning.jpg" width="334" />Pre-Arrangement Planning<br />
		Today more families than ever are recognizing the benefits of pre-planning&hellip;</h4>
	<br />
	&quot;It gave us the opportunity to put all our affairs in order in a relaxed way, not when emotionally exhausted. We spent less&hellip;we didn&#39;t overspend.&quot;<br />
	&quot;This decision makes me feel good&hellip;I&#39;m looking out for my wife because I love her. She&#39;ll need the life insurance money to readjust and continue living.&quot;
	<p>
		&nbsp;</p>
	<p>
		&hellip;&quot;I appreciate the variety of financial plans presented to us.&quot;</p>
	<p>
		&quot;We recorded our wishes in the pre-planning guide provided by Bellevue&hellip;Sure, it&#39;s a sensitive subject, but it allowed us to share and express our feelings and personal preferences we needed to discuss.&quot;</p>
	<p>
		By planning ahead now, you will guarantee yourself peace of mind because you will have made all the necessary decisions, and put your affairs in order today.</p>
	<p>
		Planning ahead is protection &ndash; protection that your loved ones will not have to make difficult decisions alone, and that they will not be burdened financially.</p>
	<p>
		Pre-planning eliminates emotional over spending. Pre-planning means savings because arrangements made today will cost much less than they will in the future.</p>
	<p>
		Bellevue Memorial Park Family Service Counselors will walk you through the many options available when you purchase in advance. With the costs of services rising every year, you will be saving considerably by choosing to pre-plan today. Payment plans are available giving you the flexibility to design a package which will work within your family&#39;s budget. We are sure you will find our prices both reasonable and competitive. We invite you to visit our offices and learn more about how you can prepare for tomorrow by planning today.</p>
	<p>
		For more information, please call us toll free at 888-594-5955, or (909) 986-1201.</p>
	<div class="portfolio-element gallery-pp gallery-pp" style="z-index: 3; left: 0px; top: 5px; ">
		<div class="image-description">
			&nbsp;</div>
	</div>
</section>
<div class="clear">
	&nbsp;</div>
