<div class="pre_planning">
  <div class="one_third planning_nav">
    <h3>Seven Reasons to pre-plan:</h3>
    <ol>
      <li>Take the burden off of loved ones</li>
      <li>Pre-planning freezes the cost</li>
      <li>You can finance the financial burden</li>
      <li>The pre-developed and pre-planning advantage</li>
      <li>Make decisions together</li>
      <li>Ensure your wishes are kept</li>
      <li>Enjoy peace of mind</li>
    </ol>
  </div>

  <div class="planning">
  <h1>Pre-Arrangement Planning</h1>
  <h2>Today more families than ever are recognizing the benefits of pre-planning…</h2>
  <img src="/web_images/pre_planning.jpg" alt="Pre Planning" style="float:left; margin: 15px; border: 1px solid black;">
  <p>"It gave us the opportunity to put all our affairs in order in a relaxed way, not when emotionally exhausted. We spent less…we didn't overspend." </p>
  <p>  "This decision makes me feel good…I'm looking out for my wife because I love her. She'll need the life insurance money to readjust and continue living."</p>
  <p>
    …"I appreciate the variety of financial plans presented to us."
  </p>
  <p>
    "We recorded our wishes in the pre-planning guide provided by Bellevue…Sure, it's a sensitive subject, but it allowed us to share and express our feelings and personal preferences we needed to discuss."
  </p>
  <p>By planning ahead now, you will guarantee yourself peace of mind because you will have made all the necessary decisions, and put your affairs in order today.</p>
  <p>Planning ahead is protection – protection that your loved ones will not have to make difficult decisions alone, and that they will not be burdened financially.</p>
  <p>Pre-planning eliminates emotional over spending. Pre-planning means savings because arrangements made today will cost much less than they will in the future.</p>
  <p>Bellevue Memorial Park Family Service Counselors will walk you through the many options available when you purchase in advance. With the costs of services rising every year, you will be saving considerably by choosing to pre-plan today. Payment plans are available giving you the flexibility to design a package which will work within your family's budget. We are sure you will find our prices both reasonable and competitive. We invite you to visit our offices and learn more about how you can prepare for tomorrow by planning today.</p>
  
  <h2> Pre-Planning Advantages </h2>
  <ul>
    <li><strong>Peace of Mind-</strong> <br />
     You have out you affairs in order and made the necessary decisions.</li>
     <li><strong>Protection-</strong> <br />
      planning ahead protects loved ones from having to face difficult decisions alone during a difficult time. 
     </li>
     <li><strong>Savings-</strong> <br />
      Pre-planning eliminates emotional over spending. arrangements made today will cost much less then they will in the future. Convenient payment arrangements are available for your Pre-need purchase.</li>
  </ul>
 


    <p>For more information, please call us toll free at 888-594-5955, or (909) 986-1201.</p>
    </div>
    &nbsp;
</div>