<div class="sub-copy">
	<h1>
		Services and Products</h1>
	<div class="products-page">		

		<h4>Cremation Benches &amp; Pedestals</h4>
		<strong> Made of solid granite they offer additional options for cremation burials.</strong>  
		<p>Property location must be pre-approved by Ivy Lawn Memorial Park. The prices below DO NOT include the cost of the grave.</p>
		<span class="clear">&nbsp;</span>
    <div class="quarter">
      <a href="http://c190930.r30.cf1.rackcdn.com/uploads/account_photo/managepic/7/Dove_pedestal.jpg" rel="lightbox"><img src="http://c190930.r30.cf1.rackcdn.com/uploads/account_photo/managepic/7/thumb_Dove_pedestal.jpg" alt="Dove Pedestal"><br /> Dove Pedestal</a>
    </div>
    <div class="quarter">
      <a href="http://c190930.r30.cf1.rackcdn.com/uploads/account_photo/managepic/6/eagle_pedestal.jpg" rel="lightbox"><img src="http://c190930.r30.cf1.rackcdn.com/uploads/account_photo/managepic/6/thumb_eagle_pedestal.jpg" alt="Eagle Pedestal"><br /> Eagle Pedestal </a>
    </div>
    <div class="quarter">
      <a href="http://c190930.r30.cf1.rackcdn.com/uploads/account_photo/managepic/5/praying_hands_pedestal.jpg" rel="lightbox"><img src="http://c190930.r30.cf1.rackcdn.com/uploads/account_photo/managepic/5/thumb_praying_hands_pedestal.jpg" alt="Praying Hands"> Praying Hands</a>
    </div>
	  <div class="quarter">
      <a href="http://c190930.r30.cf1.rackcdn.com/uploads/account_photo/managepic/8/cremation_burial_bench.jpg" rel="lightbox"><img src="http://c190930.r30.cf1.rackcdn.com/uploads/account_photo/managepic/8/thumb_cremation_burial_bench.jpg" alt="Cremation Burial Bench"> Cremation Burial Bench</a>
    </div>
		
		<div class="half">
		  <h4>Pedestal</h4>
		  <strong>The pedestal will accommodate 2 cremation burials. </strong>
		  <ul>
		    <li>(color) Sierra: $3,000.00</li>
		    <li>(color) Rose: $6,200.00</li>
		    <li>&nbsp;</li>
		    <li><strong>Setting fee: $400.00</strong></li>
		    <li><strong>Endowment Care: $400.00</strong></li>
		  </ul>
		</div>
		<div class="half">
		  <h4>Bench</h4>
		  <strong>The bench will accommodate 3 cremation burials</strong>
		  <ul>
		    <li>(color) Sierra: $5,000.00</li>
		    <li>(color) Rose: $6,200.00</li>
		    <li>&nbsp;</li>
		    <li><strong>Setting fee: $800.00</strong></li>
		    <li><strong>Endowment Care: $400.00</strong></li>
		  </ul>
		</div>
		<span class="clear">&nbsp;</span>
			<hr noshade="noshade" size="1" />		

		<h4>
			Design Options</h4>
		<a href="http://cms.allplaces.net/ivylawn/products/HLM Border Designs.pdf" target="_blank"><img alt="" src="http://cms.allplaces.net/ivylawn/products/thumbs/border-designs-thumb.jpg" />Border Designs</a> <a href="http://cms.allplaces.net/ivylawn/products/HLM Children Designs.pdf" target="_blank"><img alt="" src="http://cms.allplaces.net/ivylawn/products/thumbs/children-designs-thumb.jpg" />Children Designs</a> <a href="http://cms.allplaces.net/ivylawn/products/HLM Emblem Designs.pdf" target="_blank"><img alt="" src="http://cms.allplaces.net/ivylawn/products/thumbs/emblem-designs-thumb.jpg" />Emblem Designs</a> <a href="http://cms.allplaces.net/ivylawn/products/HLM Floral Designs.pdf" target="_blank"><img alt="" src="http://cms.allplaces.net/ivylawn/products/thumbs/floral-designs-thumb.jpg" />Floral Designs</a> <a href="http://cms.allplaces.net/ivylawn/products/HLM Scenic Designs.pdf" target="_blank"><img alt="" src="http://cms.allplaces.net/ivylawn/products/thumbs/scenic-designs-thumb.jpg" />Scenic Designs</a> <a href="http://cms.allplaces.net/ivylawn/products/HLM Scroll Designs.pdf" target="_blank"><img alt="" src="http://cms.allplaces.net/ivylawn/products/thumbs/scroll-designs-thumb.jpg" />Scroll Designs</a> <a href="http://cms.allplaces.net/ivylawn/products/HLM Tropical Designs.pdf" target="_blank"><img alt="" src="http://cms.allplaces.net/ivylawn/products/thumbs/tropical-designs-thumb.jpg" />Tropical Designs</a>
		<hr noshade="noshade" size="1" />

<div class="quarter">
  <h4>
		Font Selection</h4>
	<a href="http://cms.allplaces.net/ivylawn/products/HLM Font Selection.pdf" target="_blank"><img alt="" src="http://cms.allplaces.net/ivylawn/products/thumbs/font-selection-thumb.jpg" />Font Selection</a>
</div>		
<div class="quarter">
  <h4>
		Color Options</h4>
	<a href="http://cms.allplaces.net/ivylawn/products/HLM-granite color options.pdf" target="_blank"><img alt="" src="http://cms.allplaces.net/ivylawn/products/thumbs/granit-color-options-thumb.jpg" />Color Options</a>
</div>

<div class="quarter">
  <h4>
		Epitaphs</h4>
	<a href="http://cms.allplaces.net/ivylawn/products/HLM Epitaphs.pdf" target="_blank"><img alt="" src="http://cms.allplaces.net/ivylawn/products/thumbs/epitaphs-thumb.jpg" />Epitaphs</a></div>
</div>
	<span class="clear">&nbsp;</span></div>